<!-- Footer -->
<script type="text/javascript">

  $(document).ready(function () {
    $(".collap").hide();
  });

  $(".coll").on("click", function () {
    $(".collap").show();
    $(".des").hide();
  });
</script>


<script>
  $('.feat-btn').click(function () {
    $('nav ul .feat-show').toggleClass("show");
    $('nav ul .first').toggleClass("rotate");
  });



  $('.an-btn').click(function () {
    $('nav ul .an-show').toggleClass("show2");
    $('nav ul .third').toggleClass("rotate");
  });

  $('.ant-btn').click(function () {
    $('nav ul .ant-show').toggleClass("show3");
    $('nav ul .fourth').toggleClass("rotate");
  });

  $('.bi-btn').click(function () {
    $('nav ul .bi-show').toggleClass("show4");
    $('nav ul .fourthh').toggleClass("rotate");
  });

  $('.bio-btn').click(function () {
    $('nav ul .bio-show').toggleClass("show5");
    $('nav ul .sixth').toggleClass("rotate");
  });

  $('.bip-btn').click(function () {
    $('nav ul .bip-show').toggleClass("show6");
    $('nav ul .fifth').toggleClass("rotate");
  });

  $('.co-btn').click(function () {
    $('nav ul .co-show').toggleClass("show7");
    $('nav ul .sixthh').toggleClass("rotate");
  });

  $('.den-btn').click(function () {
    $('nav ul .den-show').toggleClass("show8");
    $('nav ul .seventh').toggleClass("rotate");
  });

  $('.med-btn').click(function () {
    $('nav ul .med-show').toggleClass("show9");
    $('nav ul .eigth').toggleClass("rotate");
  });

  $('.mib-btn').click(function () {
    $('nav ul .mib-show').toggleClass("show10");
    $('nav ul .nineth').toggleClass("rotate");
  });

  $('.mir-btn').click(function () {
    $('nav ul .mir-show').toggleClass("show11");
    $('nav ul .tenth').toggleClass("rotate");
  });

  $('.oc-btn').click(function () {
    $('nav ul .oc-show').toggleClass("show12");
    $('nav ul .eleventh').toggleClass("rotate");
  });

  $('.pat-btn').click(function () {
    $('nav ul .pat-show').toggleClass("show13");
    $('nav ul .twelth').toggleClass("rotate");
  });

  $('.pha-btn').click(function () {
    $('nav ul .pha-show').toggleClass("show14");
    $('nav ul .thirteenth').toggleClass("rotate");
  });

  $('.phm-btn').click(function () {
    $('nav ul .phm-show').toggleClass("show15");
    $('nav ul .fourteenth').toggleClass("rotate");
  });

  $('.phs-btn').click(function () {
    $('nav ul .phs-show').toggleClass("show16");
    $('nav ul .fifteenth').toggleClass("rotate");
  });

  $('.phsi-btn').click(function () {
    $('nav ul .phsi-show').toggleClass("show17");
    $('nav ul .sixteenth').toggleClass("rotate");
  });

  $('.psy-btn').click(function () {
    $('nav ul .psy-show').toggleClass("show18");
    $('nav ul .seventeenth').toggleClass("rotate");
  });

  $('.sur-btn').click(function () {
    $('nav ul .sur-show').toggleClass("show19");
    $('nav ul .eighteenth').toggleClass("rotate");
  });

  $('.the-btn').click(function () {
    $('nav ul .the-show').toggleClass("show20");
    $('nav ul .nineteenth').toggleClass("rotate");
  });

  $('.yg-btn').click(function () {
    $('nav ul .yg-show').toggleClass("show21");
    $('nav ul .twentyeeth').toggleClass("rotate");
  });

  $('.ve-btn').click(function () {
    $('nav ul .ve-show').toggleClass("show22");
    $('nav ul .twentyoneth').toggleClass("rotate");
  });

  $('nav ul li').click(function () {
    $(this).addClass("active").siblings().removeClass("active");
  });

</script>

<script>

  $(document).ready(function(){

    $('.navbar-toggler').click(function(){
        $('#filter').toggle();
    })
  })


  // --------------------new ------------------------
  function openNav() {
    document.getElementById("sidenav").style.width = "75vw";
    document.getElementById("sidenav").style.left = "0px";
    $('#filter').hide();
    // document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    $('#main').css({ "filter": "blur(8px)" });
    // $('#main').css({"opacity":"0.3"});
    $('#sidenav').css({ "opacity": "1" });

    document.html.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
    // document.getElementById("main").style.marginLeft = "0";
    document.getElementById("sidenav").style.left = "-30px";
    $('#filter').show();
    $('button a').css({ "font-size": "12px" });
    $('#main').css({ "filter": "blur(0px)" });


    document.body.style.backgroundColor = "whitesmoke";
    // $('#main').css({ "margin-left": "10%" });

  }

  $('#sidenav ul li a[href="#"]').click(function () {
    closeNav();
  })
</script>
<footer class="page-footer font-small " style="padding:40px 70px;width: 100%;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        
        <br>
		
		 <br>
     <div style="justify-content: space-between;margin-left: -10%;" >
              <h5 id="logos" class="text-uppercase text-light" style="margin-left:0%;margin-top: -10%;margin-bottom: 7%;"><img
                  src="https://res.cloudinary.com/duozkjp1p/image/upload/v1602746940/logo_e3alai.jpg"
                  style="width:50px;height:50px;border-radius:22px"> My Medical Times</h5>

    <a href="#" id="email" style="color:#ffffff;" style="margin-left: 13%;"><i class="fas fa-envelope fa-sm" style="margin-left: 3%;"></i> info@mtimes.com </a>
<br>
		  <a href="#" style="margin-left:1%" ><img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202110facebooklogosocialsocialmedia-115707_115594.png" class="icc"></a>
  <a href="#"><img src="https://cdn2.iconfinder.com/data/icons/simple-social-media-shadow/512/14-512.png" class="icc" style="width:65px;height:65px"></a>
  <a href="#"><img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c545.png" class="icc"> </a>
    <a href="#"><img src="https://image.flaticon.com/icons/png/512/124/124021.png" class="icc" style="margin-left: 17px;border-radius: 4px;"> </a>
    </div>


  

        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="f-foot">


        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Company</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/aboutus" style="color:#ffffff;">About us</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/privacy-policy" style="color:#ffffff;">Privacy Policy</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/t&c" style="color:#ffffff;">Terms & Conditions</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/contactus" style="color:#ffffff;">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="l-foot" >

        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Articles</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="#!" style="color:#ffffff;">Sitemap</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/applyintern" style="color:#ffffff;">Internships</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writearticle" style="color:#ffffff;">Write an article</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writereview" style="color:#ffffff;">Write a review</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      
      
 

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  
  <!-- Copyright -->
  <div class="footer-copyright  " style="text-align: center;font-size:15px;opacity:0.8; background-color: #B1D4E0;color: black;width: 100%;height: 40px;position: absolute;bottom: 10;left: 0;">
  <i class="far fa-copyright" style="color: black;"></i> My Medical Times, All rights reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->