<!-- Footer -->


<script>
   
  $(document).ready(function(){

    $('.navbar-toggler').click(function(){
        $('#filter').toggle();
    })
     $('.bim-btn').click(function () {


      $('.shower').not('.bim-show').removeClass("show20");
            $('.buttor').not('nav ul .kle').removeClass("rotate");

      $('nav ul .bim-show').toggleClass("show20");
      $('nav ul .kle').toggleClass("rotate");
    });

     $('.zg-btn').click(function () {
      $('nav ul .zg-show').toggleClass("show60");
      $('nav ul .kle').toggleClass("rotate");
    });
  })

  $('.openbtn').on("click", function () {
    $('.sidebar').fadeOut(100);
  })

  $('.feat-btn').click(function () {

    
    $('.shower').not('.feat-show').removeClass("show20");
    $('.buttor').not('.first').removeClass("rotate");
    $('nav ul .feat-show').toggleClass("show20");
    $('nav ul .first').toggleClass("rotate");
  });


  $('.an-btn').click(function () {
    $('.shower').not('.an-show').removeClass("show20");
    $('.buttor').not('.third').removeClass("rotate");
    $('nav ul .an-show').toggleClass("show20");
    $('nav ul .third').toggleClass("rotate");
  });

  $('.ant-btn').click(function () {
    $('.shower').not('.ant-show').removeClass("show20");
    $('.buttor').not('.fourth').removeClass("rotate");
    $('nav ul .ant-show').toggleClass("show20");
    $('nav ul .fourth').toggleClass("rotate");
  });

  $('.bi-btn').click(function () {
    $('.shower').not('.bi-show').removeClass("show20");
    $('.buttor').not('.fourth').removeClass("rotate");
    $('nav ul .bi-show').toggleClass("show20");
    $('nav ul .fourthh').toggleClass("rotate");
  });

  $('.bio-btn').click(function () {
    $('.shower').not('.bio-show').removeClass("show20");
    $('.buttor').not('.sixth').removeClass("rotate");
    $('nav ul .bio-show').toggleClass("show20");
    $('nav ul .sixth').toggleClass("rotate");
  });

  $('.bip-btn').click(function () {
    $('.shower').not('.bip-show').removeClass("show20");
    $('.buttor').not('.fifth').removeClass("rotate");
    $('nav ul .bip-show').toggleClass("show20");
    $('nav ul .fifth').toggleClass("rotate");
  });

  $('.co-btn').click(function () {
    $('.shower').not('.co-show').removeClass("show20");
    $('.buttor').not('.sixthh').removeClass("rotate");
    $('nav ul .co-show').toggleClass("show20");
    $('nav ul .sixthh').toggleClass("rotate");
  });

  $('.den-btn').click(function () {
    $('.shower').not('.den-show').removeClass("show20");
    $('.buttor').not('.seventh').removeClass("rotate");
    $('nav ul .den-show').toggleClass("show20");
    $('nav ul .seventh').toggleClass("rotate");
  });

  $('.med-btn').click(function () {
    $('.shower').not('.med-show').removeClass("show20");
    $('.buttor').not('.eight').removeClass("rotate");
    $('nav ul .med-show').toggleClass("show20");
    $('nav ul .eigth').toggleClass("rotate");
  });

  $('.mib-btn').click(function () {
    $('.shower').not('.mib-show').removeClass("show20");
    $('.buttor').not('.nineth').removeClass("rotate");
    $('nav ul .mib-show').toggleClass("show20");
    $('nav ul .nineth').toggleClass("rotate");
  });

  $('.mir-btn').click(function () {
    $('.shower').not('.mir-show').removeClass("show20");
    $('.buttor').not('.tenth').removeClass("rotate");
    $('nav ul .mir-show').toggleClass("show20");
    $('nav ul .tenth').toggleClass("rotate");
  });

  $('.oc-btn').click(function () {
    $('.shower').not('.oc-show').removeClass("show20");
    $('.buttor').not('.eleventh').removeClass("rotate");
    $('nav ul .oc-show').toggleClass("show20");
    $('nav ul .eleventh').toggleClass("rotate");
  });

  $('.pat-btn').click(function () {
    $('.shower').not('.pat-show').removeClass("show20");
    $('.buttor').not('.twelth').removeClass("rotate");
    $('nav ul .pat-show').toggleClass("show20");
    $('nav ul .twelth').toggleClass("rotate");
  });

  $('.pha-btn').click(function () {
    $('.shower').not('.pha-show').removeClass("show20");
    $('.buttor').not('.thirteenth').removeClass("rotate");
    $('nav ul .pha-show').toggleClass("show20");
    $('nav ul .thirteenth').toggleClass("rotate");
  });

  $('.phm-btn').click(function () {
    $('.shower').not('.phm-show').removeClass("show20");
    $('.buttor').not('.fourteenth').removeClass("rotate");
    $('nav ul .phm-show').toggleClass("show20");
    $('nav ul .fourteenth').toggleClass("rotate");
  });

  $('.phs-btn').click(function () {
     $('.shower').not('.phs-show').removeClass("show20");
    $('.buttor').not('.fifteenth').removeClass("rotate");
    $('nav ul .phs-show').toggleClass("show20");
    $('nav ul .fifteenth').toggleClass("rotate");
  });

  $('.phsi-btn').click(function () {
     $('.shower').not('.phsi-show').removeClass("show20");
    $('.buttor').not('.sixteenth').removeClass("rotate");
    $('nav ul .phsi-show').toggleClass("show20");
    $('nav ul .sixteenth').toggleClass("rotate");
  });

  $('.psy-btn').click(function () {
     $('.shower').not('.psy-show').removeClass("show20");
    $('.buttor').not('.seventeenth').removeClass("rotate");
    $('nav ul .psy-show').toggleClass("show20");
    $('nav ul .seventeenth').toggleClass("rotate");
  });

  $('.sur-btn').click(function () {
     $('.shower').not('.sur-show').removeClass("show20");
    $('.buttor').not('.eighteenth').removeClass("rotate");
    $('nav ul .sur-show').toggleClass("show20");
    $('nav ul .eighteenth').toggleClass("rotate");
  });

  $('.the-btn').click(function () {
     $('.shower').not('.the-show').removeClass("show20");
    $('.buttor').not('.nineteenth').removeClass("rotate");
    $('nav ul .the-show').toggleClass("show20");
    $('nav ul .nineteenth').toggleClass("rotate");
  });

  $('.yg-btn').click(function () {
     $('.shower').not('.yg-show').removeClass("show20");
    $('.buttor').not('.twentyeeth').removeClass("rotate");
    $('nav ul .yg-show').toggleClass("show20");
    $('nav ul .twentyeeth').toggleClass("rotate");
  });

  $('.ve-btn').click(function () {
     $('.shower').not('.ve-show').removeClass("show20");
    $('.buttor').not('.twentyoneth').removeClass("rotate");
    $('nav ul .ve-show').toggleClass("show20");
    $('nav ul .twentyoneth').toggleClass("rotate");
  });

  $('nav ul li').click(function () {
    $(this).addClass("active").siblings().removeClass("active");
  });
    
  // --------------------new ------------------------
  function openNav() {
    document.getElementById("sidenav").style.width = "75vw";
    document.getElementById("sidenav").style.left = "0px";
    $('#filter').hide();
    // document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    $('#main').css({ "filter": "blur(8px)" });
    // $('#main').css({"opacity":"0.3"});
    $('#sidenav').css({ "opacity": "1" });

    document.html.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
    // document.getElementById("main").style.marginLeft = "0";
    document.getElementById("sidenav").style.left = "-30px";
    $('#filter').show();
    $('button a').css({ "font-size": "12px" });
    $('#main').css({ "filter": "blur(0px)" });


    document.body.style.backgroundColor = "whitesmoke";
    // $('#main').css({ "margin-left": "10%" });

  }

  $('#sidenav ul li a[href="#"]').click(function () {
    closeNav();
  })
</script>
<footer class="page-footer font-small " style="padding:40px 70px;width: 100%;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-sm-12 " id="mobi">

        <!-- Content -->
        
      
     <div style="justify-content: space-between;margin-left: -10%;" >
              <h5  class="text-uppercase " id="times" style="margin-left:10%;margin-top: 0%;font-weight: 500 !important;margin-bottom: 3%;color:whitesmoke"><img
                  src="https://i.ibb.co/vx5zDFF/picc.jpg" alt="logo"
                  style="width:50px;height:50px;border-radius:22px;"> My Medical Times</h5>

    <a href="#" id="email" style="color:#ffffff;" style="margin-left: 18%;" ><i class="fas fa-envelope fa-sm" style="margin-left: 10%;"></i> mymedicaltimes@gmail.com </a>
<br>
      <div class="social-buttons " id="buts" style="margin-top: 4%;margin-bottom: 6%; text-decoration: none;">
        <a href="#" class="social-buttons__button social-button social-button--facebook" style="text-decoration: none;" aria-label="Facebook">
          <span class="social-button__inner">
            <i class="fab fa-facebook-f"></i>
          </span>
        </a>
        <a href="#" class="social-buttons__button social-button social-button--linkedin" style="text-decoration: none;" aria-label="LinkedIn">
          <span class="social-button__inner">
            <i class="fab fa-linkedin-in"></i>
          </span>
        </a>
      
        <a href="#" class="social-buttons__button social-button social-button--youtube" style="text-decoration: none;" aria-label="YouTube">
          <span class="social-button__inner">
            <i class="fab fa-youtube" style="background-color: white;color:red"></i>
          </span>
        </a>
        <a href="#" class="social-buttons__button social-button social-button--twitter" style="text-decoration: none;" aria-label="CodePen">
          <span class="social-button__inner">
            <i class="fab fa-twitter" style="color:skyblue"></i>
          </span>
        </a>
      </div>
      </div>

  

        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="f-foot">


        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Company</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/aboutus" style="color:#ffffff;">About us</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/privacy-policy" style="color:#ffffff;">Privacy Policy</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/t&c" style="color:#ffffff;">Terms & Conditions</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/contactus" style="color:#ffffff;">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="l-foot" >

        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Articles</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="#!" style="color:#ffffff;">Sitemap</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/applyintern" style="color:#ffffff;">Internships</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writearticle" style="color:#ffffff;">Write an article</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writereview" style="color:#ffffff;">Write a review</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      
      
 

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  
  <!-- Copyright -->
  <div class="footer-copyright  " style="text-align: center;font-size:15px;opacity:0.8; background-color: #B1D4E0;color: black;width: 100%;height: 40px;position: absolute;bottom: 10;left: 0;">
  <i class="far fa-copyright" style="color: black;"></i> My Medical Times, All rights reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->