<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="niceCountryInput.css">
    <script src="niceCountryInput.js"></script>
    <title>My Medical Times</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

        body,html {
            overflow-x: hidden;
            background: #f0f0f0;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;

        }

        .sidebar {
            position: scroll;
            width: 350px;
            left: 0;
            background: #1b1b1b;

            height: 100%;
            margin: 0px;


        }

        .sidebar .text {
            color: white;
            font-size: 25px;
            font-weight: 600;
            line-height: 65px;
            text-align: center;
            background: #1e1e1e;
            letter-spacing: 1px;
            margin: 0px
        }
        nav{
                        padding: 0px 60px;

        }
        nav ul {
            /* background: #1b1b1b; */
            height: 80%;
            width: 100%;
                                    text-decoration: none;

            list-style: none;

        }

        nav ul li {
            line-height: 50px;
                                    text-decoration: none;

            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        }

        nav ul li a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 18px;
            padding-left: 30px;
            font-weight: 500;
            display: block;
                                    text-decoration: none;

            width: 100%;
            border-left: 3px solid transparent;
        }

        nav ul li.active a {
                                    text-decoration: none;

            color: cyan;
            background: #1e1e1e;
            border-left-color: cyan;

        }

        nav ul ul {
            position: static;
            display: none;
        }

        nav ul .feat-show.show {
            display: block;
        }

        nav ul .an-show.show2 {
            display: block;
        }

        nav ul .ant-show.show3 {
            display: block;
        }

        nav ul .bi-show.show4 {
            display: block;
        }

        nav ul .bio-show.show5 {
            display: block;
        }

        nav ul .bip-show.show6 {
            display: block;
        }

        nav ul .co-show.show7 {
            display: block;
        }

        nav ul .den-show.show8 {
            display: block;
        }

        nav ul .med-show.show9 {
            display: block;
        }

        nav ul .mib-show.show10 {
            display: block;
        }

        nav ul .mir-show.show11 {
            display: block;
        }

        nav ul .oc-show.show12 {
            display: block;
        }

        nav ul .pat-show.show13 {
            display: block;
        }

        nav ul .pha-show.show14 {
            display: block;
        }

        nav ul .phm-show.show15 {
            display: block;
        }

        nav ul .phs-show.show16 {
            display: block;
        }

        nav ul .phsi-show.show17 {
            display: block;
        }

        nav ul .psy-show.show18 {
            display: block;
        }

        nav ul .sur-show.show19 {
            display: block;
        }

        nav ul .the-show.show20 {
            display: block;
        }

        nav ul .yg-show.show21 {
            display: block;
        }

        nav ul .ve-show.show22 {
            display: block;
        }

        nav ul ul li {
                        text-decoration: none;
            
            line-height: 42px;
            border-bottom: none;
        }

        nav ul ul li a {
                        text-decoration: none;

            font-size: 17px;
            color: #e6e6e6;
            padding-left: 30px;
            text-decoration: none;
        }

        nav ul li.active ul li a {
            color: #e6e6e6;
                        text-decoration: none;

            background: #1b1b1b;
            border-left-color: transparent;

        }

        nav ul ul li a:hover {
                        text-decoration: none;

            color: cyan !important;
            background: #343a40 !important;
        }

        nav ul li a span {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 22px;
            transition: transform 0.4s;
        }

        nav ul li a span.rotate {
            transform: translateY(-50%) rotate(-180deg);
        }

        footer {
            background: #1c2331
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: relative;
            right: 3px;
            top: 40%;
        }

        .dropdown-submenu:hover .dropdown-menu,
        .dropdown-submenu:focus .dropdown-menu {
            display: flex;
            flex-direction: column;
            position: scroll !important;
            margin-top: -30px;
            left: 100%;
        }

        @media (max-width: 992px) {
            .dropdown-menu {
                width: 50%;
            }

            .dropdown-menu .dropdown-submenu {
                width: auto;
            }
        }

     @media screen and (max-width: 992px) {

        nav ul li a {
            font-size: large !important;
        }
        #userm{
            font-size: large !important;
        }
        #userm:hover{
            color:cyan;
        }
        #logo{
                float:right;
                margin: 5px auto;
        }
        nav ul li a {

            font-size: 18px !important;
        }


     }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            margin: 10px 5px;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa:hover {
            opacity: 0.7;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .icc {
            width: 35px;
            height: 35px;
        }

        .icc:hover {
            opacity: 0.6;
        }

        .sBlog:hover {
            box-shadow: 6px 8px 8px 6px rgba(0, 0, 0, 0.9);
        }

        .mainNew:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        .sBlog {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mainNew {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .show-menu {
            left: 0px !important;
            transition: 1s;
        }

        .list-wrapper {
            padding: 15px;
            min-width: 80%;
            overflow: hidden;
        }

        .list-item {
            border: 1px solid #EEE;
            background: #FFF;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .list-item h4 {
            color: #FF7182;
            font-size: 18px;
            margin: 0 0 5px;
        }

        .list-item p {
            margin: 0;
        }

        .simple-pagination ul {
            margin: 0 0 20px;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .simple-pagination li {
            display: inline-block;
            margin-right: 5px;
        }

        .simple-pagination li a,
        .simple-pagination li span {
            color: #666;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #EEE;
            background-color: #FFF;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .simple-pagination .current {
            color: #FFF;
            background-color: #FF7182;
            border-color: #FF7182;
        }

        .simple-pagination .prev.current,
        .simple-pagination .next.current {
            background: #e04e60;
        }

        /* -----------------------newly added----------------------------------------------- */


        #filter {
            display: none;
        } 
        

    @media only screen and (min-width: 990px) {
        #sidenav{
                height: 110%;
                margin-top: -8px;
                margin-bottom: -55px;
                box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
        }
        #logos{
            margin-top:-10% !important;
        }
        #main{
            margin-left: 10%;
        }
        #dclose {

            display: none;
        }
        .m-view{
            display: none;
        }
    }
    .btn-group button a{
                font-size: 15px !important;
                /* line-height: -10px !important; */

            }
    @media only screen and (min-width: 824px) and (max-width: 990px) {

        #sidenav{
                height: 110%;
                margin-top: -8px;
                margin-bottom: -55px;
                box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
        }
        .m-view{
            display: none;
        }
#dclose {

            display: none;
        }

    }
    #icon-all{
        width: 70vw !important;
        margin: 5px auto;
        text-align: center;
    }
    .btn-group {
                position: relative;
                left: 0%;
                min-width: 70%;
                height: 3.2rem;
                text-align: center;
            }

        @media only screen and (max-width: 824px) {

            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: -30px;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }
            #logos{
                font-size: 1rem !important;
                margin-left: -5% !important;
                margin-bottom: 8% !important;
            }
            #l-foot{
                font-size: 0.9rem !important;
                font-weight: normal !important;
            }
            #email{
                font-size: 15px;
                width: 95vw !important;
            }
            #f-foot{
font-size: 0.9rem !important;
                font-weight: normal !important;
            }
            #main{
                text-align: center;
                margin: 3% auto;
            }

            .btn-group {
                position: relative;
                left: 0%;
                min-height: 10vh;
                min-width: 75%;
                text-align: center;
            }

            .btn-group button a{
                font-size: 8px !important;
                /* line-height: -10px !important; */

            }


/* 
            #cred{
                margin-top:20px;
                text-align: center;
                justify-content: space-evenly;
            } */


           
            #filter {
                position: absolute;
                left: 10px;
                top: 1%;

                display: inline-block;
                z-index: 100;
                /* box-shadow: 4px 5px 6px black; */
            }

            .sidenav .closebtn {
                position: absolute;
                top: 10;
                right: 15px;
                text-decoration: none;

                /* background-color: gray; */
                font-size: 36px;
                margin-left: 95%;
            }
            
            #dclose{
                color:white !important;
                position: absolute;
                left:85%;
                text-decoration: none !important;
                top:-1%;
                margin-bottom:8%;
                /* background-color: tomato; */
            }
           
        }

        /* -------------------------------------newly added-------------------------------------------- */
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left:20px;">
        <a class="navbar-brand" href="/home" id="logo">MMT</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="line-height: 40px;margin-top:5px;">
                    <a class="nav-link" href="/home" style="padding-left: 15px;">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item " style="line-height: 40px;margin-top:5px;">
                    <a class="nav-link " href="#" id="" role="button"
                        data-toggle="" aria-haspopup="true" aria-expanded="false" style="padding-left: 15px;">
                        Medical News
                    </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:350px;">
                        <a class="dropdown-item"  style="width:340px;background-color: honeydew;color: black;" href="/home/medicalNews">Latest Medical News</a>
                        <a class="dropdown-item" style="width:340px;background-color: honeydew;color: black;" href="/writemedicalnews">Write Medical News</a>

                    </div> -->
                </li>

                <li class="nav-item" style="line-height: 40px;margin-top:5px;">
                    <a class="nav-link" href="/maindisease" style="padding-left: 15px;">Disease</a>
                </li>


            </ul>
            
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

            </form>
<!-- <span id="cred"> -->
            <% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button" style="margin-top:5px;text-align: center;">Login</a>
            <%} else{ %>
            <a href="/profilenav" style="color:#ffffff;margin-left:20px;margin-right:20px;margin-top:-20px;font-size: 20px;" id="userm"><i class="far fa-users"></i> <%= currentUser.username %></a>
            <a class="btn btn-info" href="/logout" role="button" style="margin-top:5px;">Logout</a>

            <% } %>
            <!-- </span> -->
        </div>
    </nav>


    <!-- <% if(error.length>0){%>
    <div class="alert alert-danger container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
    <% }if(success.length>0){%>
    <div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%>
    </div>
    <% } %> -->


    <marquee behavior="scroll" direction="left" class="px-1 bg-primary text-light">*** The chapter you are learning
        today, is going to save someone's life tomorrow. Pay attention ***
    </marquee>
    <!-- --------------------------------newly added--------------------------------------     -->
    <div class="row" >
        <div id="filter">
            <button style="width: 50px;height: 50px;border-radius: 50%;background-color:black" onclick="openNav()"><i
                    class="fas fa-bars" style="color:snow"></i></button>
        </div>


        <nav class=" sidebar col-lg-3 col-md-4 col-sm-8 col-xs-12 col-10" id="sidenav" style="overflow-x: hidden;max-width: 340px;">
            <a href="javascript:void(0)" class="closebtn" id="dclose" onclick="closeNav()"
                style="width: 500px;height: 50px;position: absolute;top: -5px;right: 5px;font-size: 50px;color:white;margin-bottom:30px;">&times;</a>
            <!-- <div class="text"> My Medical Times </div> -->
           
            <ul>
                <!-- --------------------------------newly added--------------------------------------     -->
                <li class="ant-btn m-view">
<% if(!currentUser){ %>
<a class="btn btn-primary" href="/login" role="button" style="margin-top:5px;text-align: center;width:80% ;margin: 10px 10%;">Login</a>
<%} else{ %>
<a href="/profilenav" style="color:#ffffff;margin:5px 20%;"> <%= currentUser.username %></a>
<a class="btn btn-info" href="/logout" role="button" style="margin-top:5px;">Logout</a>

<% } %>                <li>
                
                <li class="ant-btnf m-view" >
                    <a style="color: white;font-weight: 200;" href="/">Home</a></li>
                <li>
                <li class="ant-btnf m-view">
                    <a style="color: white;font-weight: 200;" href="/maindisease">Disease</a></li>
                <li>
                <li class="ant-btnf ">
                    <a style="color: white;font-weight: 200;" href="/writearticle">Write Article</a></li>
                <li>
                    <li class="ant-btnf ">
                        <a style="color: white;font-weight: 200;" href="/application">Apply for writing</a></li>
                    <li>
                    <a class="ant-btn"> Anatomy
                        <span class="fas fa-caret-down fourth"></span>
                    </a>
                    <ul class="ant-show">
                        <li ><a href="/anatomy/embryology" style="padding-left:-20px;"> Embryology</a> </li>
                        <li><a href="/anatomy/General Anatomy"> General Anatomy</a> </li>
                        <li> <a href="/anatomy/Head, Neck, and Face"> Head, Neck, and Face </a> </li>
                        <li><a href="/anatomy/histology"> Histology</a> </li>
                        <li><a href="/anatomy/Osteology"> Osteology</a> </li>
                        <li><a href="/anatomy/Pelvis & lower limb"> Pelvis & lower limb</a> </li>
                        <li><a href="/anatomy/Regional Anatomy"> Regional Anatomy</a> </li>
                        <li><a href="/anatomy/Upper limb, Thorax & Abdomen"> Upper limb, Thorax & Abdomen </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="an-btn"> Anesthesia
                        <span class="fas fa-caret-down third"></span>
                    </a>
                    <ul class="an-show">
                        <li><a href="/Anesthesia/Anesthesiology"> Anesthesiology</a> </li>
                        <li><a href="/Anesthesia/General Anesthesiology"> General Anesthesiology</a> </li>
                        <li> <a href="/Anesthesia/Local Anesthesia"> Local Anesthesia </a> </li>
                    </ul>
                </li>


                <li> <a class="feat-btn"> Ayurveda
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="feat-show">
                        <li> <a href="/Ayurveda/Agada Tantra"> Agada Tantra</a></li>
                        <li> <a href="/Ayurveda/Ashtang Hridyam"> Ashtang Hridyam </a></li>
                        <li> <a href="/Ayurveda/Ayurveda Itihas"> Ayurveda Itihas </a></li>
                        <li> <a href="/Ayurveda/Bhaishajya Kalpana"> Bhaishajya Kalpana </a> </li>
                        <li> <a href="/Ayurveda/Charak Samhita(Purvardha)"> Charak Samhita(Purvardha)</a></li>
                        <li> <a href="/Ayurveda/Charak Samhita(Uttarardha)"> Charak Samhita(Uttarardha)</a></li>
                        <li> <a href="/Ayurveda/Dravyaguna Vigyan"> Dravyaguna Vigyan </a> </li>
                        <li> <a href="/Ayurveda/Herbal"> Herbal </a></li>
                        <li> <a href="/Ayurveda/Herbal Drug Technology"> Herbal Drug Technology</a></li>
                        <li> <a href="/Ayurveda/Kayachikitsa"> Kayachikitsa </a></li>
                        <li> <a href="/Ayurveda/Kaumarbhritya"> Kaumarbhritya </a></li>
                        <li> <a href="/Ayurveda/Kriya Sharir"> Kriya Sharir </a></li>
                        <li> <a href="/Ayurveda/Padartha Vigyan"> Padartha Vigyan </a></li>
                        <li> <a href="/Ayurveda/Panchkarma"> Panchkarma </a></li>
                        <li> <a href="/Ayurveda/Prasuti Tantra Evum Stri Roga"> Prasuti Tantra Evum Stri Roga </a></li>
                        <li> <a href="/Ayurveda/Rachana Sarir"> Rachana Sarir </a></li>
                        <li> <a href="/Ayurveda/Rasa Shastra"> Rasa Shastra </a></li>
                        <li> <a href="/Ayurveda/Roga Vigyan"> Roga Vigyan </a></li>
                        <li> <a href="/Ayurveda/Salakya"> Salakya </a></li>
                        <li> <a href="/Ayurveda/Shalya "> Shalya </a></li>
                        <li> <a href="/Ayurveda/Swasthavritta"> Swasthavritta </a></li>
                        <li> <a href="/Ayurveda/Vidhi Vaidyak"> Vidhi Vaidyak </a></li>
                        <li> <a href="/Ayurveda/Vikriti Vigyan"> Vikriti Vigyan </a></li>
                        <li> <a href="/Ayurveda/Vyavhar Ayurved"> Vyavhar Ayurved </a></li>
                    </ul>
                </li>



                <li> <a class="bi-btn"> Biochemistry
                        <span class="fas fa-caret-down fourthh"></span>
                    </a>
                    <ul class="bi-show">
                        <li> <a href="/Biochemistry/Analytical Biochemistry"> Analytical Biochemistry</a></li>
                        <li> <a href="/Biochemistry/Animal Biochemistry"> Animal Biochemistry </a></li>
                        <li> <a href="/Biochemistry/Cell biology"> Cell biology </a></li>
                        <li> <a href="/Biochemistry/Cytogenetics"> Cytogenetics</a></li>
                        <li> <a href="/Biochemistry/DNA Typing & Replications"> DNA Typing & Replications</a></li>
                        <li> <a href="/Biochemistry/Enzymology"> Enzymology </a> </li>
                        <li> <a href="/Biochemistry/Genetics"> Genetics</a></li>
                        <li> <a href="/Biochemistry/Immunology"> Immunology</a></li>
                        <li> <a href="/Biochemistry/Medicinal Chemistry"> Medicinal Chemistry </a> </li>
                        <li> <a href="/Biochemistry/Metabolism"> Metabolism </a></li>
                        <li> <a href="/Biochemistry/Organic Mechanism"> Organic Mechanism</a></li>
                        <li> <a href="/Biochemistry/Plant biochemistry"> Plant biochemistry </a></li>
                        <li> <a href="/Biochemistry/Phytochemistry"> Phytochemistry </a></li>
                    </ul>
                </li>


                <li>
                    <a class="bip-btn"> BioPhysics
                        <span class="fas fa-caret-down fifth"></span>
                    </a>
                    <ul class="bip-show">
                        <li><a href="/BioPhysics/Biomechanics"> Biomechanics</a> </li>
                        <li> <a href="/BioPhysics/Biophysics & Instrumentation"> Biophysics & Instrumentation </a> </li>
                    </ul>
                </li>


                <li> <a class="bio-btn"> Biotechnology
                        <span class="fas fa-caret-down sixth"></span>
                    </a>
                    <ul class="bio-show">
                        <li> <a href="/Biotechnology/Animal Biotechnology"> Animal Biotechnology </a></li>
                        <li> <a href="/Biotechnology/Biochemistry"> Biochemistry</a></li>
                        <li> <a href="/Biotechnology/Bioinformatics"> Bioinformatics</a></li>
                        <li> <a href="/Biotechnology/Cell cycle & division"> Cell cycle & division</a></li>
                        <li> <a href="/Biotechnology/Environmental biotechnology"> Environmental biotechnology </a> </li>
                        <li> <a href="/Biotechnology/Immunology"> Immunology</a></li>
                        <li> <a href="/Biotechnology/Industrial biotechnology"> Industrial biotechnology </a> </li>
                        <li> <a href="/Biotechnology/Medical biotechnology"> Medical biotechnology </a></li>
                        <li> <a href="/Biotechnology/Microbiology"> Microbiology</a></li>
                        <li> <a href="/Biotechnology/Plant biotechnology"> Plant biotechnology </a></li>
                    </ul>
                </li>


                <li> <a class="co-btn"> Community Medicine
                        <span class="fas fa-caret-down sixthh"></span>
                    </a>
                    <ul class="co-show">
                        <li> <a href="/Community Medicine/Biostatistics"> Biostatistics </a></li>
                        <li> <a href="/Community Medicine/Epidemiology"> Epidemiology</a></li>
                        <li> <a href="/Community Medicine/Environmental & occupational Health"> Environmental & occupational Health </a> </li>
                        <li> <a href="/Community Medicine/Epidemiology"> Epidemiology</a></li>
                        <li> <a href="/Community Medicine/Health Policy & Management"> Health Policy & Management </a> </li>
                        <li> <a href="/Community Medicine/Hospital Management"> Hospital Management </a></li>
                        <li> <a href="/Community Medicine/Public Health Nutrition"> Public Health Nutrition</a></li>
                        <li> <a href="/Community Medicine/Public health ethics & laws"> Public health ethics & laws </a></li>
                        <li> <a href="/Community Medicine/Public health dentistry"> Public health dentistry </a></li>
                    </ul>
                </li>


                <li> <a class="den-btn"> Dentistry
                        <span class="fas fa-caret-down seventh"></span>
                    </a>
                    <ul class="den-show">
                        <li> <a href="/Dentistry/Community dentistry"> Community dentistry </a></li>
                        <li> <a href="/Dentistry/Conservative dentistry & endodontics"> Conservative dentistry & endodontics </a></li>
                        <li> <a href="/Dentistry/Dental anatomy & oral histology"> Dental anatomy & oral histology</a></li>
                        <li> <a href="/Dentistry/Dental materials"> Dental materials </a> </li>
                        <li> <a href="/Dentistry/Oral medicine & radiology"> Oral medicine & radiology </a></li>
                        <li> <a href="/Dentistry/Oral pathology"> Oral pathology</a></li>
                        <li> <a href="/Dentistry/Oral surgery"> Oral surgery </a> </li>
                        <li> <a href="/Dentistry/Orthodontics"> Orthodontics </a></li>
                        <li> <a href="/Dentistry/Pedodontics"> Pedodontics</a></li>
                        <li> <a href="/Dentistry/Periodontics"> Periodontics </a></li>
                        <li> <a href="/Dentistry/Prosthodontics"> Prosthodontics </a></li>
                    </ul>
                </li>



                <li> <a class="med-btn"> Medicine
                        <span class="fas fa-caret-down eigth"></span>
                    </a>
                    <ul class="med-show">
                        <li> <a href="/Medicine/Dermatology"> Dermatology</a></li>
                        <li> <a href="/Medicine/Diagnostics"> Diagnostics </a></li>
                        <li> <a href="/Medicine/Emergency Medicine"> Emergency Medicine </a></li>
                        <li> <a href="/Medicine/Forensic medicine & toxicology"> Forensic medicine & toxicology </a> </li>
                        <li> <a href="/Medicine/General medicine"> General medicine</a></li>
                        <li> <a href="/Medicine/Gynecology"> Gynecology</a></li>
                        <li> <a href="/Medicine/Interventional"> Interventional </a> </li>
                        <li> <a href="/Medicine/Naturopathic"> Naturopathic </a></li>
                        <li> <a href="/Medicine/Neurology"> Neurology</a></li>
                        <li> <a href="/Medicine/Nuclear medicine"> Nuclear medicine </a></li>
                        <li> <a href="/Medicine/Opthalmology"> Opthalmology </a></li>
                        <li> <a href="/Medicine/Orthopaedics"> Orthopaedics </a></li>
                        <li> <a href="/Medicine/Pediatrics"> Pediatrics </a></li>
                        <li> <a href="/Medicine/Psychiatry"> Psychiatry </a></li>
                        <li> <a href="/Medicine/Pulmonology"> Pulmonology </a></li>
                        <li> <a href="/Medicine/Radiology"> Radiology </a></li>
                        <li> <a href="/Medicine/Rheumatology"> Rheumatology </a></li>
                        <li> <a href="/Medicine/Therapeutics"> Therapeutics </a></li>
                        <li> <a href="/Medicine/Transfusion medicine"> Transfusion medicine </a></li>
                        <li> <a href="/Medicine/Traumatology"> Traumatology </a></li>
                        <li> <a href="/Medicine/Tropical medicine"> Tropical medicine </a></li>
                        <li> <a href="/Medicine/Venereology"> Venereology </a></li>
                    </ul>
                </li>

                <li> <a class="mib-btn"> Microbiology
                        <span class="fas fa-caret-down nineth"></span>
                    </a>
                    <ul class="mib-show">
                        <li> <a href="/Microbiology/Agriculture Microbiology"> Agriculture Microbiology </a></li>
                        <li> <a href="/Microbiology/Bacteriology"> Bacteriology</a></li>
                        <li> <a href="/Microbiology/Cellular microbiology"> Cellular microbiology </a></li>
                        <li> <a href="/Microbiology/Evolutionary microbiology"> Evolutionary microbiology </a></li>
                        <li> <a href="/Microbiology/Generation microbiology"> Generation microbiology </a></li>
                        <li> <a href="/Microbiology/Immunology"> Immunology </a></li>
                        <li> <a href="/Microbiology/Evolutionary microbiology"> Evolutionary microbiology </a></li>
                        <li> <a href="/Microbiology/Food microbiology"> Food microbiology </a></li>
                        <li> <a href="/Microbiology/Immunology"> Immunology </a></li>
                        <li> <a href="/Microbiology/Industrial microbiology"> Industrial microbiology </a></li>
                        <li> <a href="/Microbiology/Medical bacteriology"> Medical bacteriology </a></li>
                        <li> <a href="/Microbiology/Microbial cytology"> Microbial cytology </a></li>
                        <li> <a href="/Microbiology/Microbial ecology"> Microbial ecology </a></li>
                        <li> <a href="/Microbiology/Microbial physiology"> Microbial physiology </a></li>
                        <li> <a href="/Microbiology/Microbiology"> Microbiology </a></li>
                        <li> <a href="/Microbiology/Molecular microbiology"> Molecular microbiology </a></li>
                        <li> <a href="/Microbiology/Mycology"> Mycology </a></li>
                        <li> <a href="/Microbiology/Nematology"> Nematology </a></li>
                        <li> <a href="/Microbiology/Parasitology"> Parasitology </a></li>
                        <li> <a href="/Microbiology/Phycology/Algology"> Phycology/Algology </a></li>
                        <li> <a href="/Microbiology/Protozoology"> Protozoology </a></li>
                        <li> <a href="/Microbiology/Systems microbiology"> Systems microbiology </a></li>
                        <li> <a href="/Microbiology/Virology"> Virology </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="mir-btn"> Microscopy
                        <span class="fas fa-caret-down tenth"></span>
                    </a>
                    <ul class="mir-show">
                        <li><a href="/Microscopy/Electron"> Electron</a> </li>
                        <li> <a href="/Microscopy/Optical"> Optical </a> </li>
                        <li> <a href="/Microscopy/Scanning Probe microbiology "> Scanning Probe microbiology </a> </li>
                        <li> <a href="/Microscopy/X-Ray microscopy"> X-Ray microscopy </a> </li>
                    </ul>
                </li>
                
                <li><a href="/Nutrition and Dietetics/Nutrition and Dietetics"> Nutrition and Dietetics</a> </li>

                <li>
                    <a class="oc-btn"> Occupational Therapy
                        <span class="fas fa-caret-down eleventh"></span>
                    </a>
                    <ul class="oc-show">
                        <li><a href="/Occupational Therapy/Occupational therapy in mental health"> Occupational therapy in mental health</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in neurology"> Occupational therapy in neurology</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in orthopedics"> Occupational therapy in orthopedics</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in prediatrics"> Occupational therapy in prediatrics</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in rehabillitation"> Occupational therapy in rehabillitation</a> </li>
                    </ul>
                </li>



                <li>
                    <a class="pat-btn"> Pathology
                        <span class="fas fa-caret-down twelth"></span>
                    </a>
                    <ul class="pat-show">
                        <li><a href="/Pathology/General pathology"> General pathology</a> </li>
                        <li> <a href="/Pathology/Haematology"> Haematology </a> </li>
                        <li> <a href="/Pathology/Systematic pathology"> Systematic pathology </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="pha-btn"> Pharmacy
                        <span class="fas fa-caret-down thirteenth"></span>
                    </a>
                    <ul class="pha-show">
                        <li> <a href="/Pharmacy/Clinical pharmacy"> Clinical pharmacy </a> </li>
                        <li><a href="/Pharmacy/Computer application in pharmacy"> Computer application in pharmacy </a> </li>
                        <li> <a href="/Pharmacy/Industrial pharmacy"> Industrial pharmacy </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutics"> Pharmaceutics </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical analysis"> Pharmaceutical analysis</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical biotechnology"> Pharmaceutical biotechnology</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical engineering"> Pharmaceutical engineering</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical inorganic chemistry"> Pharmaceutical inorganic chemistry </a> </li>
                        <li> <a href="/Pharmacy/Pharmacognosy microbiology"> Pharmacognosy microbiology </a> </li>
                        <li> <a href="/Pharmacy/Pharmacovigilance organic chemistry"> Pharmacovigilance organic chemistry </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical technology"> Pharmaceutical technology </a> </li>
                        <li> <a href="/Pharmacy/Pharma Regulatory science"> Pharma Regulatory science </a> </li>
                        <li> <a href="/Pharmacy/Physical pharmaceutics"> Physical pharmaceutics </a> </li>
                        <li> <a href="/Pharmacy/Social & preventive pharmacy"> Social & preventive pharmacy </a> </li>
                    </ul>
                </li>



                <li>
                    <a class="phm-btn"> Pharmacology
                        <span class="fas fa-caret-down fourteenth"></span>
                    </a>
                    <ul class="phm-show">
                        <li><a href="/Pharmacology/Anti cancer drugs"> Anti cancer drugs</a> </li>
                        <li> <a href="/Pharmacology/Anti inflammatory drugs"> Anti inflammatory drugs </a> </li>
                        <li> <a href="/Pharmacology/Antimicrobial drugs"> Antimicrobial drugs </a> </li>
                        <li><a href="/Pharmacology/Biopharmaceutics"> Biopharmaceutics </a> </li>
                        <li><a href="/Pharmacology/Dental Pharmacology"> Dental Pharmacology</a> </li>
                        <li><a href="/Pharmacology/General Pharmacology"> General Pharmacology</a> </li>
                        <li><a href="/Pharmacology/Pharmacodynamics"> Pharmacodynamics </a> </li>
                        <li><a href="/Pharmacology/Pharmacokinetics"> Pharmacokinetics </a> </li>
                        <li><a href="/Pharmacology/Systematic Pharmacology">Systematic Pharmacology</a> </li>
                    </ul>
                </li>


                <li>
                    <a class="phs-btn"> Physiology
                        <span class="fas fa-caret-down fifteenth"></span>
                    </a>
                    <ul class="phs-show">
                        <li><a href="/Physiology/Animal physiology"> Animal physiology </a> </li>
                        <li><a href="/Physiology/Applied physiology"> Applied physiology </a> </li>
                        <li><a href="/Physiology/Cardiovascular physiology"> Cardiovascular physiology </a> </li>
                        <li><a href="/Physiology/Comparative physiology"> Comparative physiology </a> </li>
                        <li><a href="/Physiology/Defense physiology"> Defense physiology </a> </li>
                        <li><a href="/Physiology/Developmental physiology"> Developmental physiology </a> </li>
                        <li><a href="/Physiology/Eco physiology"> Eco physiology </a> </li>
                        <li><a href="/Physiology/Evolutionary physiology"> Evolutionary physiology</a> </li>
                        <li><a href="/Physiology/Gastrointestinal physiology"> Gastrointestinal physiology </a> </li>
                        <li><a href="/Physiology/Mathematical physiology"> Mathematical physiology </a> </li>
                        <li><a href="/Physiology/Microbial physiology"> Microbial physiology</a> </li>
                        <li><a href="/Physiology/Musculoskeletal physiology"> Musculoskeletal physiology</a> </li>
                        <li><a href="/Physiology/Neuro physiology"> Neuro physiology </a> </li>
                        <li><a href="/Physiology/Pathphysiology"> Pathphysiology</a> </li>
                        <li><a href="/Physiology/Plant physiology"> Plant physiology</a> </li>
                        <li><a href="/Physiology/Respiratory physiology"> Respiratory physiology </a> </li>
                        <li><a href="/Physiology/Yoga physiology"> Yoga physiology </a> </li>
                    </ul>
                </li>




                <li>
                    <a class="phsi-btn"> Physiotherapy
                        <span class="fas fa-caret-down sixteenth"></span>
                    </a>
                    <ul class="phsi-show">
                        <li><a href="/Physiotherapy/Cardio thoracic physiotherapy"> Cardio thoracic physiotherapy</a> </li>
                        <li><a href="/Physiotherapy/Musculo skeletal physiotherapy"> Musculo skeletal physiotherapy</a> </li>
                        <li><a href="/Physiotherapy/Neurological physiotherapy"> Neurological physiotherapy</a> </li>
                        <li><a href="/Physiotherapy/Orientation to physiotherapy"> Orientation to physiotherapy</a> </li>
                        <li><a href="/Physiotherapy/Paediatric physiotherapy"> Paediatric physiotherapy</a> </li>
                        <li><a href="/Physiotherapy/Physiotherapy in fitness"> Physiotherapy in fitness</a> </li>
                        <li><a href="/Physiotherapy/Physiotherapy in rehabilitation"> Physiotherapy in rehabilitation</a> </li>
                        <li><a href="/Physiotherapy/physiotherapy in obstetrics"> physiotherapy in obstetrics</a> </li>
                        <li><a href="/Physiotherapy/Sports physiotherapy"> Sports physiotherapy</a> </li>
                    </ul>
                </li>



                <li>
                    <a class="psy-btn"> Psychology
                        <span class="fas fa-caret-down seventeenth"></span>
                    </a>
                    <ul class="psy-show">
                        <li><a href="/Psychology/Clinical psychology"> Clinical psychology </a> </li>
                        <li><a href="/Psychology/Cognitive psychology"> Cognitive psychology </a> </li>
                        <li><a href="/Psychology/Development psychology"> Development psychology</a> </li>
                        <li><a href="/Psychology/Evolutionary psychology"> Evolutionary psychology </a> </li>
                        <li><a href="/Psychology/Forensic psychology"> Forensic psychology </a> </li>
                        <li><a href="/Psychology/Health psychology"> Health psychology </a> </li>
                        <li><a href="/Psychology/Neuropsychology"> Neuropsychology </a> </li>
                        <li><a href="/Psychology/Occupational psychology"> Occupational psychology </a> </li>
                        <li><a href="/Psychology/Social psychology"> Social psychology </a> </li>
                    </ul>
                </li>


                <li><a href="/Recombinant DNA Technology/Recombinant DNA Technology"> Recombinant DNA Technology</a> </li>


                <li>
                    <a class="sur-btn"> Surgery
                        <span class="fas fa-caret-down eighteenth"></span>
                    </a>
                    <ul class="sur-show">
                        <li><a href="/Surgery/Academic surgery"> Academic surgery </a> </li>
                        <li><a href="/Surgery/Cardiothoracic surgery"> Cardiothoracic surgery </a> </li>
                        <li><a href="/Surgery/General surgery"> General surgery </a> </li>
                        <li><a href="/Surgery/Minor surgery"> Minor surgery </a> </li>
                        <li><a href="/Surgery/Neurosurgery"> Neurosurgery </a> </li>
                        <li><a href="/Surgery/Oral & Maxillofacial surgery"> Oral & Maxillofacial surgery </a> </li>
                        <li><a href="/Surgery/Otolaryngology"> Otolaryngology</a> </li>
                        <li><a href="/Surgery/Paediatric surgery"> Paediatric surgery </a> </li>
                        <li><a href="/Surgery/Plastic surgery"> Plastic surgery </a> </li>
                        <li><a href="/Surgery/Trauma & Orthopaedic surgery"> Trauma & Orthopaedic surgery </a> </li>
                        <li><a href="/Surgery/Rural surgery"> Rural surgery </a> </li>
                        <li><a href="/Surgery/Urology"> Urology </a> </li>
                        <li><a href="/Surgery/Vascular surgery"> Vascular surgery </a> </li>
                    </ul>
                </li>



                <li>
                    <a class="the-btn"> Therapy
                        <span class="fas fa-caret-down nineteenth"></span>
                    </a>
                    <ul class="the-show">
                        <li><a href="/Therapy/Acupressure"> Acupressure </a> </li>
                        <li><a href="/Therapy/Acupuncture"> Acupuncture </a> </li>
                        <li><a href="/TherapyChromo therapy"> Chromo therapy </a> </li>
                        <li><a href="/Therapy/Electro therapy"> Electro therapy </a> </li>
                        <li><a href="/Therapy/Exercise therapy"> Exercise therapy </a> </li>
                        <li><a href="/Therapy/Magneto therapy"> Magneto therapy </a> </li>
                        <li><a href="/Therapy/Manipulative therapy"> Manipulative therapy </a> </li>
                        <li><a href="/Therapy/Radio therapy"> Radio therapy </a> </li>
                        <li><a href="/Therapy/Zone therapy"> Zone therapy </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="yg-btn"> Yogic Science
                        <span class="fas fa-caret-down twentyeeth"></span>
                    </a>
                    <ul class="yg-show">
                        <li><a href="/Yogic Science/Yoga & physical culture"> Yoga & physical culture </a> </li>
                        <li><a href="/Yogic Science/Yoga Therapy"> Yoga Therapy </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="ve-btn"> Veterinary Sciences
                        <span class="fas fa-caret-down twentyoneth"></span>
                    </a>
                    <ul class="ve-show">
                        <li><a href="/Veterinary Sciences/Animal Breeding"> Animal Breeding </a> </li>
                        <li><a href="/Veterinary Sciences/Livestock Product Technology"> Livestock Product Technology </a> </li>
                        <li><a href="/Veterinary Sciences/Livestock Production Management"> Livestock Production Management</a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Anatomy"> Veterinary Anatomy </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Biochemistry"> Veterinary Biochemistry </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Gynaecology & Obstetrics"> Veterinary Gynaecology & Obstetrics </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Medicine"> Veterinary Medicine </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Microbiology"> Veterinary Microbiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Parasitology"> Veterinary Parasitology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Pathology"> Veterinary Pathology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Physiology"> Veterinary Physiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Pharmacology & Toxicology"> Veterinary Pharmacology & Toxicology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Public Health & Epidemiology"> Veterinary Public Health & Epidemiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Surgery & Radiology"> Veterinary Surgery & Radiology </a> </li>
                    </ul>
                </li>


            </ul>
        </nav>