<%- include('partials/header.ejs'); -%>

 <style>
   @media screen and (max-width: 1200px){
     .sidebar{
       display: none !important;
     }
   }
  @media screen and (min-width: 1200px){
     #man{
   margin-left: 25% !important;
     }
   }

 </style>

<div class = "col-sm-7 mx-auto" style="margin-top:0%;float: right;position: absolute;top:15%;" id="man" >
<div class="col-lg-7 col-md-6 col-sm-5 col-xs-5 mx-auto" style="max-width: 70%;">
<h2 style="text-align: center;">Admin Dashboard </h2>
<hr>
<div class = "row my-auto">
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603947434/WhatsApp_Image_2020-10-29_at_10.15.16_AM_xkz9fj.jpg" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeInternDetails" class="btn btn-info btn-sm" style="margin-left:8%">Applied Intern details</a>
  </div>
</div>
<!-- <div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top"
    src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603947434/WhatsApp_Image_2020-10-29_at_10.15.16_AM_xkz9fj.jpg"
    height="200" alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
    <a href="/seeArticles" class="btn btn-info btn-sm" style="margin-left:8%">View Article details</a>
  </div>
</div> -->

<div class="card mx-auto" style="width: 15rem;padding:10px; margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://media.gettyimages.com/vectors/magnifying-glass-files-icon-silhouette-vector-id959348002?k=6&m=959348002&s=612x612&w=0&h=ymhg4Fyf_2pbr4v5sM_zwyHeFDt8wgK5-yDd0z0X7os=" height= "200" width="100px"  alt="Card image cap" style="padding:1px;width: 13rem;">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeArticles" class="btn btn-info btn-sm" style="margin-left:10%">View Article Details</a>
  </div>
</div>

<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://albertawilderness.ca/wp-content/uploads/2015/09/icon-news.png" height="200"
    alt="Card image cap" style="padding:1px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
    <a href="/writemedicalnews" class="btn btn-info btn-sm" style="margin-left:10%">Write Medical News</a>
  </div>
</div>
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603946398/i2_msvtvc.png" height= "200"  alt="Card image cap" style="padding:15px">
   <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/writearticle" class="btn btn-info btn-sm" style="margin-left:15%">Post an article</a>
  </div>
</div>
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="images/clip.png" height= "200"  alt="Card image cap" style="padding:15px"/>
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
    <a href="/seeapplications" class="btn btn-info btn-sm" style="margin-left:15%">View Applications</a>
  </div>
</div>
</div>

<br>

<div class = "row mt-4">
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603946398/i1_ad9yiq.png" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeUserDetails" class="btn btn-info btn-sm" style="margin-left:15%">See user details</a>
  </div>
</div>


<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603947435/WhatsApp_Image_2020-10-29_at_10.25.28_AM_v0bink.jpg" height= "200"  alt="Card image cap" style="padding:15px">
   <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeReviewDetails" class="btn btn-info btn-sm" style="margin-left:15%">See Review Details</a>
  </div>
</div>
</div>


</div>
</div>


<script>
  $('.feat-btn').click(function () {
      $('nav ul .feat-show').toggleClass("show");
      $('nav ul .first').toggleClass("rotate");
    });



    $('.an-btn').click(function () {
      $('nav ul .an-show').toggleClass("show2");
      $('nav ul .third').toggleClass("rotate");
    });
    $('.countrypicker').countrypicker();

    $('.ant-btn').click(function () {
      $('nav ul .ant-show').toggleClass("show3");
      $('nav ul .fourth').toggleClass("rotate");
    });

    $('.bi-btn').click(function () {
      $('nav ul .bi-show').toggleClass("show4");
      $('nav ul .fourthh').toggleClass("rotate");
    });

    $('.bio-btn').click(function () {
      $('nav ul .bio-show').toggleClass("show5");
      $('nav ul .sixth').toggleClass("rotate");
    });

    $('.bip-btn').click(function () {
      $('nav ul .bip-show').toggleClass("show6");
      $('nav ul .fifth').toggleClass("rotate");
    });

    $('.co-btn').click(function () {
      $('nav ul .co-show').toggleClass("show7");
      $('nav ul .sixthh').toggleClass("rotate");
    });

    $('.den-btn').click(function () {
      $('nav ul .den-show').toggleClass("show8");
      $('nav ul .seventh').toggleClass("rotate");
    });

    $('.med-btn').click(function () {
      $('nav ul .med-show').toggleClass("show9");
      $('nav ul .eigth').toggleClass("rotate");
    });

    $('.mib-btn').click(function () {
      $('nav ul .mib-show').toggleClass("show10");
      $('nav ul .nineth').toggleClass("rotate");
    });

    $('.mir-btn').click(function () {
      $('nav ul .mir-show').toggleClass("show11");
      $('nav ul .tenth').toggleClass("rotate");
    });

    $('.oc-btn').click(function () {
      $('nav ul .oc-show').toggleClass("show12");
      $('nav ul .eleventh').toggleClass("rotate");
    });

    $('.pat-btn').click(function () {
      $('nav ul .pat-show').toggleClass("show13");
      $('nav ul .twelth').toggleClass("rotate");
    });

    $('.pha-btn').click(function () {
      $('nav ul .pha-show').toggleClass("show14");
      $('nav ul .thirteenth').toggleClass("rotate");
    });

    $('.phm-btn').click(function () {
      $('nav ul .phm-show').toggleClass("show15");
      $('nav ul .fourteenth').toggleClass("rotate");
    });

    $('.phs-btn').click(function () {
      $('nav ul .phs-show').toggleClass("show16");
      $('nav ul .fifteenth').toggleClass("rotate");
    });

    $('.phsi-btn').click(function () {
      $('nav ul .phsi-show').toggleClass("show17");
      $('nav ul .sixteenth').toggleClass("rotate");
    });

    $('.psy-btn').click(function () {
      $('nav ul .psy-show').toggleClass("show18");
      $('nav ul .seventeenth').toggleClass("rotate");
    });

    $('.sur-btn').click(function () {
      $('nav ul .sur-show').toggleClass("show19");
      $('nav ul .eighteenth').toggleClass("rotate");
    });

    $('.the-btn').click(function () {
      $('nav ul .the-show').toggleClass("show20");
      $('nav ul .nineteenth').toggleClass("rotate");
    });

    $('.yg-btn').click(function () {
      $('nav ul .yg-show').toggleClass("show21");
      $('nav ul .twentyeeth').toggleClass("rotate");
    });

    $('.ve-btn').click(function () {
      $('nav ul .ve-show').toggleClass("show22");
      $('nav ul .twentyoneth').toggleClass("rotate");
    });

    $('nav ul li').click(function () {
      $(this).addClass("active").siblings().removeClass("active");
    });
  $(document).ready(function () {

    $('.navbar-toggler').click(function () {
      $('#filter').toggle();
    })
    $('.bim-btn').click(function () {
      $('nav ul .bim-show').toggleClass("show20");
      $('nav ul .kle').toggleClass("rotate");
    });

    $('.zg-btn').click(function () {
      $('nav ul .zg-show').toggleClass("show60");
      $('nav ul .kle').toggleClass("rotate");
    });
  })

</script>
 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>



