<%- include('partials/header.ejs'); -%>

 <style>
   @media screen and (max-width: 1200px){
     .sidebar{
       display: none !important;
     }
   }
 </style>

<div class = "" style="margin-top:3%;float: left;" id="main">
<div class="col-lg-7 col-md-6 col-sm-5 col-xs-5 mx-auto" style="max-width: 70%;">
<h2 style="text-align: center;">Admin Dashboard </h2>
<hr>
<div class = "row my-auto">
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603947434/WhatsApp_Image_2020-10-29_at_10.15.16_AM_xkz9fj.jpg" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeInternDetails" class="btn btn-info btn-sm" style="margin-left:8%">Applied Intern details</a>
  </div>
</div>

<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://albertawilderness.ca/wp-content/uploads/2015/09/icon-news.png" height= "200"  alt="Card image cap" style="padding:1px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/writemedicalnews" class="btn btn-info btn-sm" style="margin-left:10%">Post Medical News</a>
  </div>
</div>


<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603946398/i2_msvtvc.png" height= "200"  alt="Card image cap" style="padding:15px">
   <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/writearticle" class="btn btn-info btn-sm" style="margin-left:15%">Post an article</a>
  </div>
</div>
</div>

<br>

<div class = "row mt-4">
<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603946398/i1_ad9yiq.png" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeUserDetails" class="btn btn-info btn-sm" style="margin-left:15%">See user details</a>
  </div>
</div>


<div class="card mx-auto" style="width: 15rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1603947435/WhatsApp_Image_2020-10-29_at_10.25.28_AM_v0bink.jpg" height= "200"  alt="Card image cap" style="padding:15px">
   <hr style="margin-left:10%;margin-right:10%;margin-bottom:5%">
  <div class="card-body">
	<a href="/seeReviewDetails" class="btn btn-info btn-sm" style="margin-left:15%">See Review Details</a>
  </div>
</div>
</div>


</div>
</div>



 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>



