<%- include('partials/header.ejs'); -%>

<style>
  ol li a{
    line-height: 5px !important;
  }
 #main {
      text-align: left;
      margin: 5% auto;
    }
</style>


<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="main" >
<h3><center> Allergic & Asthama:</center> </h3><br>
<ol class = "ml-5"  >
   <li><a href="/main_disease/allergic/alcohol"> Alcohol allergy </a></li>
   <li><a href="/main_disease/allergic/allergicr"> Allergic rhinitis </a></li>
   <li><a href="/main_disease/allergic/analphylaxis"> Analphylaxis </a></li>
   <li><a href="/main_disease/allergic/asthma"> Asthma </a></li>
   <li><a href="/main_disease/allergic/bee"> Bee Allergy </a></li>
   <li><a href="/main_disease/allergic/cat"> Cat allergy </a></li>
   <li><a href="/main_disease/allergic/casein"> Casein allergy </a></li>
   <li><a href="/main_disease/allergic/chemical"> Chemical allergy </a></li>
   <li><a href="/main_disease/allergic/dog"> Dog allergy </a></li>
   <li><a href="/main_disease/allergic/drug"> Drug allergy </a></li>
   <li><a href="/main_disease/allergic/dust"> Dust mite allergy </a></li>
   <li><a href="/main_disease/allergic/eczema"> Eczema </a></li>
   <li><a href="/main_disease/allergic/egg"> Egg allergy </a></li>
   <li><a href="/main_disease/allergic/fall"> Fall allergy </a></li>
   <li><a href="/main_disease/allergic/fish"> Fish allergy </a></li>
   <li><a href="/main_disease/allergic/food"> Food allergy </a></li>
   <li><a href="/main_disease/allergic/insect"> Insect sting allergy </a></li>
   <li><a href="/main_disease/allergic/latex"> Latex allergy </a></li>
   <li><a href="/main_disease/allergic/mould"> Mould allergy </a></li>
   <li><a href="/main_disease/allergic/milk"> Milk and dairy allergy </a></li>
   <li><a href="/main_disease/allergic/nickel"> Nickel allergy </a></li>
   <li><a href="/main_disease/allergic/nut"> Nut allergy </a></li>
   <li><a href="/main_disease/allergic/oral"> Oral allergy syndrome </a></li>
   <li><a href="/main_disease/allergic/penicillin"> Penicillin </a></li>
   <li><a href="/main_disease/allergic/peanut"> Peanut allergy </a></li>
   <li><a href="/main_disease/allergic/pollen"> Pollen allergy </a></li>
   <li><a href="/main_disease/allergic/poison"> Poison ivy allergy </a></li>
   <li><a href="/main_disease/allergic/ragiveed"> Ragiveed allergy </a></li>
   <li><a href="/main_disease/allergic/salicylate"> Salicylate allergy </a></li>
   <li><a href="/main_disease/allergic/shellfish"> Shellfish allergy </a></li>
   <li><a href="/main_disease/allergic/spring"> Spring allergy </a></li>
   <li><a href="/main_disease/allergic/sulfite"> Sulfite allergy </a></li>
   <li><a href="/main_disease/allergic/summer"> Summer allergy </a></li>
   <li><a href="/main_disease/allergic/wheat"> Wheat(gluten) allergy </a></li>
   <li><a href="/main_disease/allergic/winter"> Winter allergy </a></li>
</ol>
</div>





</div>



 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>



  </body>
</html>