<%- include('partials/header.ejs'); -%>

<style>
  /* #filter {
    display: none;
  } */

 #main {
      text-align: left;
      margin: 5% auto;
    }
  @media screen and (min-width: 540px) and (max-width: 820px) {
   
  }
</style>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="main">
<h3><center> Bacterial Infection:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="/main_disease/bacterial/anthrax"> Anthrax </a></li>
   <li><a href="/main_disease/bacterial/atypical"> Atypical mycobacteriosis, familial </a></li>
   <li><a href="/main_disease/bacterial/balantidiasis"> Balantidiasis </a></li>
   <li><a href="/main_disease/bacterial/brucellosis"> Brucellosis </a></li>
   <li><a href="/main_disease/bacterial/bubonic"> Bubonic plague </a></li>
   <li><a href="/main_disease/bacterial/buruli"> Buruli ulcer </a></li>
   <li><a href="/main_disease/bacterial/cat"> Cat scratch disease </a></li>
   <li><a href="/main_disease/bacterial/chancroid"> Chancroid </a></li>
   <li><a href="/main_disease/bacterial/cholera"> Cholera </a></li>
   <li><a href="/main_disease/bacterial/clostridium"> Clostridium sordellii infection </a></li>
   <li><a href="/main_disease/bacterial/cutaneous"> Cutaneous anthrax </a></li>
   <li><a href="/main_disease/bacterial/disseminated"> Disseminated infection with mycobacterium avium complex </a></li>
   <li><a href="/main_disease/bacterial/flavimonas"> Flavimonas oryzihabitans infection </a></li>
   <li><a href="/main_disease/bacterial/glanders"> Glanders </a></li>
   <li><a href="/main_disease/bacterial/granuloma"> Granuloma inguinale </a></li>
   <li><a href="/main_disease/bacterial/groupb"> Group B strep disease in newborns </a></li>
   <li><a href="/main_disease/bacterial/haemophilus"> Haemophilus influenzae </a></li>
   <li><a href="/main_disease/bacterial/hansen"> Hansen's disease </a></li>
   <li><a href="/main_disease/bacterial/humang"> Human granulocytic ehrlichiosis </a></li>
   <li><a href="/main_disease/bacterial/humanm"> Human monolocytic ehrlichiosis </a></li>
   <li><a href="/main_disease/bacterial/klebsiella"> Klebsiella infection </a></li>
   <li><a href="/main_disease/bacterial/legionnaries"> Legionnaires' disease </a></li>
   <li><a href="/main_disease/bacterial/lemierre"> Lemierre syndrome </a></li>
   <li><a href="/main_disease/bacterial/listeria"> Listeria infection </a></li>
   <li><a href="/main_disease/bacterial/lyme"> Lyme disease </a></li>
   <li><a href="/main_disease/bacterial/meliodosis"> Melioidosis </a></li>
   <li><a href="/main_disease/bacterial/mycetoma"> Mycetoma </a></li>
   <li><a href="/main_disease/bacterial/mycobacteriuma"> Mycobacterium abscessus</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumav"> Mycobacterium avium complex infections</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumc"> Mycobacterium chelonae</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumf"> Mycobacterium fortuitum</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumg"> Mycobacterium gordonae</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumk"> Mycobacterium kansasii</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumm"> Mycobacterium malmoense</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriummar"> Mycobacterium marinum</a></li>
   <li><a href="/main_disease/bacterial/mycobacteriumx"> Mycobacterium xenopi</a></li>
   <li><a href="/main_disease/bacterial/necrotizing"> Necrotizing fasciitis </a></li>
   <li><a href="/main_disease/bacterial/nontuberculous"> Nontuberculous mycobacterial lung disease </a></li>
   <li><a href="/main_disease/bacterial/pasteurella"> Pasteurella multocida infection </a></li>
   <li><a href="/main_disease/bacterial/pinta"> Pinta </a></li>
   <li><a href="/main_disease/bacterial/pyomyositis"> Pyomyositis </a></li>
   <li><a href="/main_disease/bacterial/qfever"> Q fever </a></li>
   <li><a href="/main_disease/bacterial/rheumatic"> Rheumatic fever </a></li>
   <li><a href="/main_disease/bacterial/rocky"> Rocky mountain spotted fever </a></li>
   <li><a href="/main_disease/bacterial/sennetsu"> Sennetsu fever </a></li>
   <li><a href="/main_disease/bacterial/shigellosis"> Shigellosis </a></li>
   <li><a href="/main_disease/bacterial/staphylococcal"> Staphylococcal food poisioning </a></li>
   <li><a href="/main_disease/bacterial/stenotrophomonas"> Stenotrophomonas maltophilia infection </a></li>
   <li><a href="/main_disease/bacterial/streptococcala"> Streptococcal group A invase disease </a></li>
   <li><a href="/main_disease/bacterial/streptococcalb"> Streptococcal group B invase disease </a></li>
   <li><a href="/main_disease/bacterial/tetanus"> Tetanus </a></li>
   <li><a href="/main_disease/bacterial/tropical"> Tropical sprue </a></li>
   <li><a href="/main_disease/bacterial/tularemia"> Tularemia </a></li>
   <li><a href="/main_disease/bacterial/typhus"> Typhus </a></li>
   <li><a href="/main_disease/bacterial/waterhouse"> Waterhouse-friderichsen syndrome </a></li>
   <li><a href="/main_disease/bacterial/whipple"> Whipple disease </a></li>
   <li><a href="/main_disease/bacterial/whooping"> Whooping cough </a></li>
   <li><a href="/main_disease/bacterial/yaws"> Yaws </a></li>
</ol>
</div>





</div>




 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>