<%- include('partials/header.ejs'); -%>

<style>
  #main {
      text-align: left;
      margin: 5% auto;
    }
</style>
<div class="col-lg-7 col-md-7 col-sm-7 col-sm-xs-12" id="main">
<h3><center> Connective tissue disease:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="/main_disease/connective/amyopathic"> Amyopathic dermatomyositis </a></li>
   <li><a href="/main_disease/connective/bizarre"> Bizarre parosteal osteochondromatous proliferation </a></li>
   <li><a href="/main_disease/connective/classical"> Classical ehlers-danlos syndrome </a></li>
   <li><a href="/main_disease/connective/dermatosparaxis"> Dermatosparaxis ehlers-danlos syndrome </a></li>
   <li><a href="/main_disease/connective/ehlers-danlos"> Ehlers-danlos syndrome </a></li>
   <li><a href="/main_disease/connective/eosinophilic"> Eosinophilic fasciitis </a></li>
   <li><a href="/main_disease/connective/legg"> Legg-calve-perthes disease </a></li>
   <li><a href="/main_disease/connective/marfan"> Marfan syndrome </a></li>
   <li><a href="/main_disease/connective/melorheostosis"> Melorheostosis </a></li>
   <li><a href="/main_disease/connective/melorheostosis_osteopoikilosis"> Melorheostosis with osteopoikilosis </a></li>
   <li><a href="/main_disease/connective/mixed"> Mixed connective tissue disease </a></li>
   <li><a href="/main_disease/connective/osteosclerosis"> Osteosclerosis with ichthyosis and premature ovarian failure </a></li>
   <li><a href="/main_disease/connective/pacman"> Pacman dysplasia </a></li>
   <li><a href="/main_disease/connective/paget_disease_of_bone"> Paget disease of bone </a></li>
   <li><a href="/main_disease/connective/paget_disease_of_bone_familial"> Paget disease of bone, familial </a></li>
   <li><a href="/main_disease/connective/polymyositis"> Polymyositis </a></li>
   <li><a href="/main_disease/connective/progressive"> Progressive deafness with stapes fixation </a></li>
   <li><a href="/main_disease/connective/rheumatoid"> Rheumatoid factor-negative juvenile idiopathic arthritis </a></li>
   <li><a href="/main_disease/connective/ribbing"> Ribbing disease </a></li>
   <li><a href="/main_disease/connective/scleroderma"> Scleroderma </a></li>
   <li><a href="/main_disease/connective/temporomandibular"> Temporomandibular ankylosis </a></li>
   <li><a href="/main_disease/connective/twenty_nail"> Twenty-nail dystrophy </a></li>
   <li><a href="/main_disease/connective/vascular"> Vascular ehlers-danlos syndrome </a></li>
   <li><a href="/main_disease/connective/weill_marchesani"> Weill-marchesani syndrome </a></li>
   <li><a href="/main_disease/connective/worth_type"> Worth type autosomal dominant osteosclerosis </a></li>
</ol>
</div>





</div>



 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>