<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Under Construction</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="icon" href="CSS/image/logo.png" type="image/gif" sizes="16x16">

    <style>
        .recruitTitle {
            text-align: center;
            color: #004369;
            font-weight: 700;
        }

        .recruitHead1 {
            text-align: center;
            font-weight: 700;
            color: #DB1F48;
        }

        .constructionSign {
            color: dimgray;
            text-align: center;
            font-size: 90px;
            margin-bottom: 30px
        }

        .MTTTitle {
            margin-bottom: 40px;
            text-align: center
        }


        #logo {
            height: 45px;

            padding-left: 5px;
        }

        .jumbotron {
            margin-top: 80px;

        }

        footer {
            margin: 0 100px;
        }

        .footer-text {
            text-align: center;
            margin: 0 !important;
        }

        footer {
            background-color: #B1D4E0;
            color: #0C2D48;
            margin: 0;
            position: absolute;
            bottom: 0;
            width: 100%;

            padding: 5px 0px;

        }

        * {
            outline: none !important;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>

    <!--   Nav Bar starts here-->

 

    <!--Nav Bar ends Here-->

    <div class="container">
        <div class="jumbotron">
            <div class="col-md-10 offset-md-1">
                <div class="MTTTitle">
                    <i class="fas fa-laptop-code constructionSign"></i>
                    <h1 class="recruitTitle">
                        Oops! looks like this page is under construstion.
                    </h1>
                    <h5 class="recruitHead1">
                        Please visiit again later

                    </h5>
                </div>

            </div>
        </div>
    </div>






</body>

</html>