<%- include('partials/header.ejs'); -%>

<style>
    /* #filter {
		display: none;
	} */


    @media screen and (min-width: 540px) and (max-width: 820px) {
        #mbody {
            text-align: left;
            margin: 5% auto;
        }
    }
</style>

    <style>
        body{
            background-color: white;
        }
        .recruitTitle {
            text-align: center;
            color: #004369;
            font-weight: 700;
        }

        .recruitHead1 {
            text-align: center;
            font-weight: 700;
            color: #DB1F48;
        }

        .constructionSign {
            color: dimgray;
            text-align: center;
            font-size: 90px;
            margin-bottom: 30px
        }

        .MTTTitle {
            margin-bottom: 40px;
            text-align: center
        }


        #logo {
            height: 45px;

            padding-left: 5px;
        }

        .jumbotron {
            margin-top: 80px;

        }

        footer {
            margin: 0 100px;
        }

        .footer-text {
            text-align: center;
            margin: 0 !important;
        }

        footer {
            background-color: #B1D4E0;
            color: #0C2D48;
            margin: 0;
            position: absolute;
            bottom: 0;
            width: 100%;

            padding: 5px 0px;

        }

        * {
            outline: none !important;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>

    <!--   Nav Bar starts here-->

 

    <!--Nav Bar ends Here-->

    <div class="container">
        <div class="jumbotron">
            <div class="col-md-10 offset-md-1">
                <div class="MTTTitle">
                    <i class="fas fa-laptop-code constructionSign"></i>
                    <h1 class="recruitTitle">
                        Oops! looks like this page has no Articles
                    </h1>
                    <h5 class="recruitHead1">
                        Please visit again later

                    </h5>
                </div>

            </div>
        </div>
    </div>


<script>

    $(document).ready(function () {

        $('.navbar-toggler').click(function () {
            $('#filter').toggle();
        })
    })


    // --------------------new ------------------------
    function openNav() {
        document.getElementById("sidenav").style.width = "75vw";
        document.getElementById("sidenav").style.left = "0px";
        $('#filter').hide();
        // document.getElementById("main").style.marginLeft = "300px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        $('#main').css({ "filter": "blur(8px)" });
        // $('#main').css({"opacity":"0.3"});
        $('#sidenav').css({ "opacity": "1" });

        document.html.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        // document.getElementById("main").style.marginLeft = "0";
        document.getElementById("sidenav").style.left = "-30px";
        $('#filter').show();
        $('button a').css({ "font-size": "12px" });
        $('#main').css({ "filter": "blur(0px)" });


        document.body.style.backgroundColor = "whitesmoke";
        // $('#main').css({ "margin-left": "10%" });

    }

    $('#sidenav ul li a[href="#"]').click(function () {
        closeNav();
    })
</script>

</body>

</html>