<%- include('partials/header.ejs'); -%>

<style>
    @media screen and (min-width: 540px) and (max-width: 820px) {
        #mbody {
            text-align: left;
            margin: 5% auto;
        }
    }

    @media screen and (max-width: 820px) {
        #mc {
            padding: 20px 30px !important;
            width: 95%;
        }
    }
</style>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-11 mx-auto " id="mc" style="	text-align:justify;padding:20px 0px;">
    <h2>Cookie Policy for Medical Times </h2>
    <h5>What Are Cookies :</h5>
    <p>
    As is common practice with almost all professional websites
    this site uses cookies, which are tiny files that are downloaded
    to your computer, to improve your experience. This page
    describes what information they gather, how we use it and why
    we sometimes need to store these cookies. We will also share
    how you can prevent these cookies from being stored however
    this may downgrade or 'break' certain elements of the sites
    functionality.
    </p>

    <h5>How We Use Cookies :</h5>
    <p>
    We use cookies for a variety of reasons detailed below.
    Unfortunately in most cases there are no industry standard
    options for disabling cookies without completely disabling the
    functionality and features they add to this site. It is
    recommended that you leave on all cookies if you are not sure
    whether you need them or not in case they are used to provide
    a service that you use.
    </p>
    <h5>Disabling Cookies :</h5>
    <p>
        You can prevent the setting of cookies by adjusting the settings
        on your browser (see your browser Help for how to do this). Be
        aware that disabling cookies will affect the functionality of this
        and many other websites that you visit. Disabling cookies will
        usually result in also disabling certain functionality and features
        of the this site. Therefore it is recommended that you do not
        disable cookies .
    </p>
    <h5>The Cookies We Set :</h5>
    <ul>
        <li>
                <h6>Account related cookies</h6>
                <p>
                    If you create an account with us then we will use cookies
                    for the management of the signup process and general
                    administration. These cookies will usually be deleted when
                    you log out however in some cases they may remain
                    afterwards to remember your site preferences when
                    logged out.
                </p>
        </li>
        <li>
            <h6>Login related cookies</h6>
            <p>
                We use cookies when you are logged in so that we can
                remember this fact. This prevents you from having to log
                in every single time you visit a new page. These cookies
                are typically removed or cleared when you log out to
                ensure that you can only access restricted features and
                areas when logged in.
            </p>
        </li>
        <li>
            <h6>Forms related cookies</h6>
            <p>
                When you submit data to through a form such as those
                found on contact pages or comment forms cookies may
                be set to remember your user details for future
                correspondence.
            </p>
        </li>
        <li>
            <h6>Site preferences cookies</h6>
            <p>
            In order to provide you with a great experience on this site
            we provide the functionality to set your preferences for
            how this site runs when you use it. In order to remember
            your preferences we need to set cookies so that this
            information can be called whenever you interact with a
            page is affected by your preferences.
            </p>
        </li>
    </ul>
    
    <h5>Third Party Cookies :</h5>
    <p>
    In some special cases we also use cookies provided by trusted
    third parties. The following section details which third party
    cookies you might encounter through this site.
    </p>
    <ul>
        <li>
            This site uses Google Analytics which is one of the most
            widespread and trusted analytics solution on the web for
            helping us to understand how you use the site and ways
            that we can improve your experience. These cookies may
            track things such as how long you spend on the site and
            the pages that you visit so we can continue to produce
            engaging content.
            For more information on Google Analytics cookies, see
            the official Google Analytics page.
        </li>
        <li>
            The Google AdSense service we use to serve advertising
            uses a DoubleClick cookie to serve more relevant ads
            across the web and limit the number of times that a given
            ad is shown to you.
            For more information on Google AdSense see the official
            Google AdSense privacy FAQ.
        </li>
        <li>
            We use adverts to offset the costs of running this site and
            provide funding for further development. The behavioural
            advertising cookies used by this site are designed to
            ensure that we provide you with the most relevant adverts
            where possible by anonymously tracking your interests
            and presenting similar things that may be of interest.
        </li>
        <li>
        Several partners advertise on our behalf and affiliate
        tracking cookies simply allow us to see if our customers
        have come to the site through one of our partner sites so
        that we can credit them appropriately and where
        applicable allow our affiliate partners to provide any bonus
        that they may provide you for making a purchase.
        </li>
        <li>
        We also use social media buttons and/or plugins on this
        site that allow you to connect with your social network in
        various ways. For these to work the following social media
        sites including; {List the social networks whose features
        you have integrated with your site, will set cookies through
        our site which may be used to enhance your profile on
        their site or contribute to the data they hold for various
        purposes outlined in their respective privacy policies
        </li>
    </ul>
    <h5>More Information :</h5>
    <p>
        Hopefully that has clarified things for you and as was previously
        mentioned if there is something that you aren't sure whether
        you need or not it's usually safer to leave cookies enabled in
        case it does interact with one of the features you use on our
        site.
        However if you are still looking for more information related to
        cookie policy then you can contact us through one of our
        preferred contact methods:
        Email : <a href="mailto:mymedicaltimes@gmail.com">mymedicaltimes@gmail.com</a>
    </p>

 
</div>



</div>


<script>
    $('.feat-btn').click(function () {
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
    });



    $('.an-btn').click(function () {
        $('nav ul .an-show').toggleClass("show2");
        $('nav ul .third').toggleClass("rotate");
    });

    $('.ant-btn').click(function () {
        $('nav ul .ant-show').toggleClass("show3");
        $('nav ul .fourth').toggleClass("rotate");
    });

    $('.bi-btn').click(function () {
        $('nav ul .bi-show').toggleClass("show4");
        $('nav ul .fourthh').toggleClass("rotate");
    });

    $('.bio-btn').click(function () {
        $('nav ul .bio-show').toggleClass("show5");
        $('nav ul .sixth').toggleClass("rotate");
    });

    $('.bip-btn').click(function () {
        $('nav ul .bip-show').toggleClass("show6");
        $('nav ul .fifth').toggleClass("rotate");
    });

    $('.co-btn').click(function () {
        $('nav ul .co-show').toggleClass("show7");
        $('nav ul .sixthh').toggleClass("rotate");
    });

    $('.den-btn').click(function () {
        $('nav ul .den-show').toggleClass("show8");
        $('nav ul .seventh').toggleClass("rotate");
    });

    $('.med-btn').click(function () {
        $('nav ul .med-show').toggleClass("show9");
        $('nav ul .eigth').toggleClass("rotate");
    });

    $('.mib-btn').click(function () {
        $('nav ul .mib-show').toggleClass("show10");
        $('nav ul .nineth').toggleClass("rotate");
    });

    $('.mir-btn').click(function () {
        $('nav ul .mir-show').toggleClass("show11");
        $('nav ul .tenth').toggleClass("rotate");
    });

    $('.oc-btn').click(function () {
        $('nav ul .oc-show').toggleClass("show12");
        $('nav ul .eleventh').toggleClass("rotate");
    });

    $('.pat-btn').click(function () {
        $('nav ul .pat-show').toggleClass("show13");
        $('nav ul .twelth').toggleClass("rotate");
    });

    $('.pha-btn').click(function () {
        $('nav ul .pha-show').toggleClass("show14");
        $('nav ul .thirteenth').toggleClass("rotate");
    });

    $('.phm-btn').click(function () {
        $('nav ul .phm-show').toggleClass("show15");
        $('nav ul .fourteenth').toggleClass("rotate");
    });

    $('.phs-btn').click(function () {
        $('nav ul .phs-show').toggleClass("show16");
        $('nav ul .fifteenth').toggleClass("rotate");
    });

    $('.phsi-btn').click(function () {
        $('nav ul .phsi-show').toggleClass("show17");
        $('nav ul .sixteenth').toggleClass("rotate");
    });

    $('.psy-btn').click(function () {
        $('nav ul .psy-show').toggleClass("show18");
        $('nav ul .seventeenth').toggleClass("rotate");
    });

    $('.sur-btn').click(function () {
        $('nav ul .sur-show').toggleClass("show19");
        $('nav ul .eighteenth').toggleClass("rotate");
    });

    $('.the-btn').click(function () {
        $('nav ul .the-show').toggleClass("show20");
        $('nav ul .nineteenth').toggleClass("rotate");
    });

    $('.yg-btn').click(function () {
        $('nav ul .yg-show').toggleClass("show21");
        $('nav ul .twentyeeth').toggleClass("rotate");
    });

    $('.ve-btn').click(function () {
        $('nav ul .ve-show').toggleClass("show22");
        $('nav ul .twentyoneth').toggleClass("rotate");
    });

    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

</script>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<br>
<br>
<%- include('partials/footertemplate.ejs'); -%>

</body>

</html>