<%- include('partials/header.ejs'); -%>


<div class="col-lg-7 col-md-7 col-sm-7 col-sm-xs-12">
<h3><center> Digestive disease:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="/main_disease/digestive/agenaes"> Aagenaes syndrome </a></li>
   <li><a href="/main_disease/digestive/abetalipoproteinemia"> Abetalipoproteinemia </a></li>
   <li><a href="/main_disease/digestive/accessory"> Accessory pancreas </a></li>
   <li><a href="/main_disease/digestive/achalasia"> Achalasia microcephaly syndrome </a></li>
   <li><a href="/main_disease/digestive/crodermatitis"> Acrodermatitis enteropathica </a></li>
   <li><a href="/main_disease/digestive/cute_fatty"> Acute fatty liver of pregnancy </a></li>
   <li><a href="/main_disease/digestive/dult_polyglucosan"> Adult polyglucosan body disease </a></li>
   <li><a href="/main_disease/digestive/agenesis"> Agenesis of the dorsal pancreas </a></li>
   <li><a href="/main_disease/digestive/al-gazali-donnai-mueller"> Al-gazali-donnai-mueller syndrome </a></li>
   <li><a href="/main_disease/digestive/alpers"> Alpers syndrome </a></li>
   <li><a href="/main_disease/digestive/lpha1"> Alpha-1 antitypsin deficiency </a></li>
   <li><a href="/main_disease/digestive/ankyloblepharon"> Ankyloblepharon filiforme imperforate anus </a></li>
   <li><a href="/main_disease/digestive/annular"> Annular pancreas </a></li>
   <li><a href="/main_disease/digestive/aplasia"> Aplaisa cutis congentia intestinal lymphangiectasia </a></li>
   <li><a href="/main_disease/digestive/rterial"> Arterial tortuosity syndrome </a></li>
   <li><a href="/main_disease/digestive/arthrogryposis"> Arthrogryposis renal dysfunction cholestasis syndrome </a></li>
   <li><a href="/main_disease/digestive/arts"> Arts syndrome </a></li>
   <li><a href="/main_disease/digestive/atresia"> Atresia of small intestine </a></li>
   <li><a href="/main_disease/digestive/autoimmune_gastrointestinal"> Autoimmune gastrointestinal dysmotility </a></li>
   <li><a href="/main_disease/digestive/autoimmune_hepatitis"> Autoimmune hepatitis </a></li>
   <li><a href="/main_disease/digestive/autoimmune_lymphoproliferative"> Autoimmune lymphoproliferative syndrome </a></li>
   <li><a href="/main_disease/digestive/autosomal_recessive"> Autosomal recessive early-onset inflammatory bowel disease </a></li>
   <li><a href="/main_disease/digestive/axenfeld_rieger"> Axenfeld-Rieger syndrome </a></li>
   <li><a href="/main_disease/digestive/b4galt1"> B4GALT1-CDG (CDG-lld) </a></li>
   <li><a href="/main_disease/digestive/baller"> Baller-gerold syndrome </a></li>
   <li><a href="/main_disease/digestive/bannayan"> Bannayan-riley-ruvalcaba syndrome </a></li>
   <li><a href="/main_disease/digestive/bantu"> Bantu siderosis </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl"> Bardet-biedl syndrome </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl1"> Bardet-biedl syndrome1 </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl10"> Bardet-biedl syndrome10 </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl11"> Bardet-biedl syndrome11 </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl12"> Bardet-biedl syndrome12 </a></li>
   <li><a href="/main_disease/digestive/bardeet_biedl2"> Bardet-biedl syndrome2 </a></li>
   <li><a href="/main_disease/digestive/bare"> Bare lymphocyte syndrome2 </a></li>
   <li><a href="/main_disease/digestive/barrett"> Barrett esophagus </a></li>
   <li><a href="/main_disease/digestive/benign1"> Benign recurrent intrahepatic cholestasis1 </a></li>
   <li><a href="/main_disease/digestive/benign2"> Benign recurrent intrahepatic cholestasis2 </a></li>
   <li><a href="/main_disease/digestive/bifid_nose"> Bifid nose with or without anorectal and renal anomalies </a></li>
   <li><a href="/main_disease/digestive/bile_duct"> Bile duct cancer </a></li>
   <li><a href="/main_disease/digestive/biliary"> Biliary artresia </a></li>
   <li><a href="/main_disease/digestive/boerhaave"> Boerhaave syndrome </a></li>
   <li><a href="/main_disease/digestive/budd_chiari"> Budd-Chiari syndrome </a></li>
   <li><a href="/main_disease/digestive/cantu"> Cantu syndrome </a></li>
   <li><a href="/main_disease/digestive/caroli"> Caroli disease </a></li>
   <li><a href="/main_disease/digestive/cat_eye"> Cat eye syndrome </a></li>
   <li><a href="/main_disease/digestive/caudal"> Caudal regression sequence </a></li>
   <li><a href="/main_disease/digestive/cerebrotendinous"> Cerebrotendinous xanthomatosis </a></li>
   <li><a href="/main_disease/digestive/childhood"> Childhood hepatocellular carcinoma </a></li>
   <li><a href="/main_disease/digestive/cholesteryl"> Cholesteryl ester storage disease </a></li>
   <li><a href="/main_disease/digestive/chronic"> Chronic granulomatous disease </a></li>
   <li><a href="/main_disease/digestive/chronic_hiccups"> Chronic hiccups </a></li>
   <li><a href="/main_disease/digestive/chylomicron"> Chylomicron retention disease </a></li>
   <li><a href="/main_disease/digestive/chylous"> Chylous ascites </a></li>
   <li><a href="/main_disease/digestive/citrullinemia"> Citrullinemia type II </a></li>
   <li><a href="/main_disease/digestive/classical-like"> Classical-like ehlers-danlos syndrome </a></li>
   <li><a href="/main_disease/digestive/coach"> COACH syndrome </a></li>
   <li><a href="/main_disease/digestive/cog4_cdg"> COG4-CDG (CDG-llj) </a></li>
   <li><a href="/main_disease/digestive/collagenous"> Collagenous colitis </a></li>
   <li><a href="/main_disease/digestive/collagenous_gastritis"> Collagenous gastritis </a></li>
   <li><a href="/main_disease/digestive/congential_bile1"> Congential bile acid synthesis defect, type 1 </a></li>
   <li><a href="/main_disease/digestive/congential_bile2"> Congential bile acid synthesis defect, type 2 </a></li>
   <li><a href="/main_disease/digestive/congential_chloride"> Congential chloride diarrhea </a></li>
   <li><a href="/main_disease/digestive/congential_diaphragmatic"> Congential diaphragmatic hernia </a></li>
   <li><a href="/main_disease/digestive/congential_disorder"> Congential disorders of glycosylation </a></li>
   <li><a href="/main_disease/digestive/congential_lactase"> Congential lactase deficiency </a></li>
   <li><a href="/main_disease/digestive/congential_sucrase"> Congential sucrase-isomaltase deficiency </a></li>
   <li><a href="/main_disease/digestive/cornelia"> Cornelia de lange syndrome </a></li>
   <li><a href="/main_disease/digestive/cowden"> Cowden syndrome </a></li>
   <li><a href="/main_disease/digestive/crigler1"> Crigler najjar syndrome, type 1 </a></li>
   <li><a href="/main_disease/digestive/crigler2"> Crigler najjar syndrome, type 2 </a></li>
   <li><a href="/main_disease/digestive/crohn"> Crohn's disease </a></li>
   <li><a href="/main_disease/digestive/cronkhite"> Cronkhite-canada disease </a></li>
   <li><a href="/main_disease/digestive/currarino"> Currarino triad </a></li>
   <li><a href="/main_disease/digestive/cutaneous"> Cutaneous photosensitivity and colitis, lethal </a></li>
   <li><a href="/main_disease/digestive/cutis_dominant"> Cutis laxa, autosomal dominant </a></li>
   <li><a href="/main_disease/digestive/cutis_recessive"> Cutis laxa, autosomal recessive type1 </a></li>
   <li><a href="/main_disease/digestive/cystic"> Cystic fibrosis </a></li>
   <li><a href="/main_disease/digestive/dandy"> Dandy-Walker cyst with Renal-Hepatic-Pancreatic dysplasia </a></li>
   <li><a href="/main_disease/digestive/ddost"> DDOST-CDG(CDG-lr) </a></li>
   <li><a href="/main_disease/digestive/deafness"> Deafness, dystonia and cerebral hypomyelination </a></li>
   <li><a href="/main_disease/digestive/desmoplastic"> Desmoplastic small round cell tumor </a></li>
   <li><a href="/main_disease/digestive/disseminated"> Disseminated peritoneal leiomyomatosis </a></li>
   <li><a href="/main_disease/digestive/donnai_barrow"> Donnai-barrow syndrome </a></li>
   <li><a href="/main_disease/digestive/dpm2_cdg"> DPM2-CDG </a></li>
   <li><a href="/main_disease/digestive/dubin"> Dubin-johnson syndrome </a></li>
   <li><a href="/main_disease/digestive/duodenal"> Duodenal artresia </a></li>
   <li><a href="/main_disease/digestive/duodenal_ulcer"> Duodenal ulcer due to antral G-cell hyperfunction </a></li>
   <li><a href="/main_disease/digestive/emanuel"> Emanuel syndrome </a></li>
   <li><a href="/main_disease/digestive/eosinophilic"> Eosinophilic gastroenteritis </a></li>
   <li><a href="/main_disease/digestive/esophageal"> Esophageal atresia </a></li>
   <li><a href="/main_disease/digestive/exstrophy"> Exstrophy of the bladder </a></li>
   <li><a href="/main_disease/digestive/familial_caudal"> Familial caudal dysgenesis </a></li>
   <li><a href="/main_disease/digestive/familial_pancreatic_cancer"> Familial pancreatic cancer </a></li>
   <li><a href="/main_disease/digestive/familial_visceral"> Familial visceral myopathy with external ophthalmoplegia </a></li>
   <li><a href="/main_disease/digestive/fanconi"> Fanconi bickel syndrome </a></li>
   <li><a href="/main_disease/digestive/freingold"> Freingold syndrome </a></li>
   <li><a href="/main_disease/digestive/fraser"> Fraser syndrome </a></li>
   <li><a href="/main_disease/digestive/froster"> Froster-Huch syndrome </a></li>
   <li><a href="/main_disease/digestive/fryns"> Fryns syndrome </a></li>
   <li><a href="/main_disease/digestive/galactokinase"> Galactokinase deficiency </a></li>
   <li><a href="/main_disease/digestive/galactose"> Galactose epimerase deficiency </a></li>
   <li><a href="/main_disease/digestive/gardner"> Gardner syndrome </a></li>
   <li><a href="/main_disease/digestive/gastrocutaneous"> Gastrocutaneous syndrome </a></li>
   <li><a href="/main_disease/digestive/gastrointestinal"> Gastrointestinal stromal tumors </a></li>
   <li><a href="/main_disease/digestive/gastroschisis"> Gastroschisis </a></li>
   <li><a href="/main_disease/digestive/geroderma"> Geroderma-galactose malabsorption </a></li>
   <li><a href="/main_disease/digestive/glycogen"> Glycogen storage disease </a></li>
   <li><a href="/main_disease/digestive/goblet"> Goblet cell carcinoid </a></li>
   <li><a href="/main_disease/digestive/goldberg"> Goldberg-shprintzen megacolon syndrome </a></li>
   <li><a href="/main_disease/digestive/gracile"> GRACILE syndrome </a></li>
   <li><a href="/main_disease/digestive/hemochromatosis"> Hemochromatosis </a></li>
   <li><a href="/main_disease/digestive/hepatic"> Hepatic encephalopathy </a></li>
   <li><a href="/main_disease/digestive/hepatic_veno"> Hepatic veno-occlusive disease</a></li>
   <li><a href="/main_disease/digestive/hepatic_immunodeficiency"> Hepatic veno-occlusive disease with immunodeficiency </a></li>
   <li><a href="/main_disease/digestive/hepatoblastoma"> Hepatoblastoma </a></li>
   <li><a href="/main_disease/digestive/hereditary_diffuse"> Hereditary diffuse gastric cancer </a></li>
   <li><a href="/main_disease/digestive/hereditary_folate"> Hereditary folate malabsorption </a></li>
   <li><a href="/main_disease/digestive/hereditary_fructose"> Hereditary fructose intolerance </a></li>
   <li><a href="/main_disease/digestive/hereditary_hemorrhagic"> Hereditary hemorrhagic talangiectasia </a></li>
   <li><a href="/main_disease/digestive/hereditary_pancreatic"> Hereditary pancreatic </a></li>
   <li><a href="/main_disease/digestive/hirshsprung"> Hirschsprung disease </a></li>
   <li><a href="/main_disease/digestive/hyperbilirubinemia"> Hyperbilirubinemia transient familial neonatal </a></li>
   <li><a href="/main_disease/digestive/idiopathic"> Idiopathic achalasia </a></li>
   <li><a href="/main_disease/digestive/imerslund"> Imerslund-grasbeck syndrome </a></li>
   <li><a href="/main_disease/digestive/infantile_liver"> Infantile liver failure syndrome </a></li>
   <li><a href="/main_disease/digestive/infantile_onset"> Infantile onset spinocerebellar ataxia </a></li>
   <li><a href="/main_disease/digestive/intestinal"> Intestinal artresia multiple </a></li>
   <li><a href="/main_disease/digestive/intrahepatic"> Intrahepatic cholestasis of pregnancy </a></li>
   <li><a href="/main_disease/digestive/jejunal"> Jejunal atresia </a></li>
   <li><a href="/main_disease/digestive/johanson"> Johanson-blizzard syndrome </a></li>
   <li><a href="/main_disease/digestive/juvenile"> Juvenile polyposis syndrome </a></li>
   <li><a href="/main_disease/digestive/kabuki"> Kabuki syndrome </a></li>
   <li><a href="/main_disease/digestive/kernicterus"> Kernicterus </a></li>
   <li><a href="/main_disease/digestive/klastskin"> Klatskin tumor </a></li>
   <li><a href="/main_disease/digestive/limb_body"> Limb-body wall complex </a></li>
   <li><a href="/main_disease/digestive/lrbs"> LRBA deficiency </a></li>
   <li><a href="/main_disease/digestive/lucey"> Lucey-driscoll syndrome </a></li>
   <li><a href="/main_disease/digestive/lynch"> Lynch syndrome </a></li>
   <li><a href="/main_disease/digestive/malakoplakia"> Malakoplakia </a></li>
   <li><a href="/main_disease/digestive/mallory_weiss"> Mallory-weiss syndrome </a></li>
   <li><a href="/main_disease/digestive/meckel"> Meckel syndrome </a></li>
   <li><a href="/main_disease/digestive/megacystic"> Megacystis microcolon intestinal hypoperistalsis syndrome </a></li>
   <li><a href="/main_disease/digestive/megaduodenum"> Megaduodenum and megacystic </a></li>
   <li><a href="/main_disease/digestive/menetrier"> Menetrier disease </a></li>
   <li><a href="/main_disease/digestive/mental_retardation"> Mental retardation skeletal dysplasia abducens palsy </a></li>
   <li><a href="/main_disease/digestive/microgastria"> Microgastria limb reduction defect </a></li>
   <li><a href="/main_disease/digestive/microphthalmia9"> Microphthalmia syndromic 9 </a></li>
   <li><a href="/main_disease/digestive/microphthalmia_skin_defect"> Microphthalmia with linear skin defects syndrome </a></li>
   <li><a href="/main_disease/digestive/microvillus"> Microvillus inclusion disease </a></li>
   <li><a href="/main_disease/digestive/mitochondrial"> Mitochondrial neurogastrointestinal encephalopathy syndrome </a></li>
   <li><a href="/main_disease/digestive/mpv-17"> MPV17-related hepatocererbral mitochondrial DNA depletion syndrome </a></li>
   <li><a href="/main_disease/digestive/muir_torre"> Muir-torre syndrome </a></li>
   <li><a href="/main_disease/digestive/multiple"> Multiple endocrine neoplasia </a></li>
   <li><a href="/main_disease/digestive/multisystematic"> Multisystemic smooth muscle dysfunction syndrome </a></li>
   <li><a href="/main_disease/digestive/murcs"> MURCS association </a></li>
   <li><a href="/main_disease/digestive/necrotizing"> Necrotizing enterocolitis </a></li>
   <li><a href="/main_disease/digestive/neonatal_adrenoleukodystrophy"> Neonatal adrenoleukodystrophy </a></li>
   <li><a href="/main_disease/digestive/neonatal_hemochromatosis"> Neonatal hemochromatosis </a></li>
   <li><a href="/main_disease/digestive/nodular"> Nodular regenerative hyperplasia </a></li>
   <li><a href="/main_disease/digestive/occipital"> Occipital horn syndrome </a></li>
   <li><a href="/main_disease/digestive/omphalocele_cleft"> Omphalocele cleft palate syndrome lethal </a></li>
   <li><a href="/main_disease/digestive/omphalomesenteric"> Omphalomesenteric cyst </a></li>
   <li><a href="/main_disease/digestive/pallister_hall"> Pallister-hall syndrome </a></li>
   <li><a href="/main_disease/digestive/pallister_killian"> Pallister-killian mosaic syndrome </a></li>
   <li><a href="/main_disease/digestive/pancreatic_adenoma"> Pancreatic adenoma </a></li>
   <li><a href="/main_disease/digestive/pancreatic_cancer"> Pancreatic cancer </a></li>
   <li><a href="/main_disease/digestive/pearson"> Pearson syndrome </a></li>
   <li><a href="/main_disease/digestive/pediatric_crohn"> Pediatric crohn's disease </a></li>
   <li><a href="/main_disease/digestive/pediatric_ulcerative"> Pediatric ulcerative colitis </a></li>
   <li><a href="/main_disease/digestive/pentalogy"> Pentalogy of cantrell </a></li>
   <li><a href="/main_disease/digestive/peutz"> Peutz-jeghers syndrome </a></li>
   <li><a href="/main_disease/digestive/plummer"> Plummer vinson syndrome </a></li>
   <li><a href="/main_disease/digestive/polycystic"> Polycystic liver disease </a></li>
   <li><a href="/main_disease/digestive/primary_biliary"> Primary biliary cholangitis </a></li>
   <li><a href="/main_disease/digestive/primary_intestinal"> Primary intestinal lymphangiectasia </a></li>
   <li><a href="/main_disease/digestive/primary_liver"> Primary liver cancer </a></li>
   <li><a href="/main_disease/digestive/primary_sclerosing"> Primary sclerosing cholangitis </a></li>
   <li><a href="/main_disease/digestive/progressive"> Progressive familial intrahepatic cholestasis </a></li>
   <li><a href="/main_disease/digestive/pseudomyxoma"> Pseudomyxoma peritonei </a></li>
   <li><a href="/main_disease/digestive/refsum"> Refsum disease </a></li>
   <li><a href="/main_disease/digestive/renal"> Renal nutcracker syndrome </a></li>
   <li><a href="/main_disease/digestive/retroperitoneal"> Retroperitoneal fibrosis </a></li>
   <li><a href="/main_disease/digestive/reynolds"> Reynolds syndrome </a></li>
   <li><a href="/main_disease/digestive/rotor"> Rotor syndrome </a></li>
   <li><a href="/main_disease/digestive/sandifer"> Sandifer syndrome </a></li>
   <li><a href="/main_disease/digestive/satoyoshi"> Satoyoshi syndrome </a></li>
   <li><a href="/main_disease/digestive/scarf"> SCARF syndrome </a></li>
   <li><a href="/main_disease/digestive/sclerosing"> Sclerosing mesenteritis </a></li>
   <li><a href="/main_disease/digestive/short_rib"> Short rib-polyactyly syndrome type3 </a></li>
   <li><a href="/main_disease/digestive/shprintzen"> Shprintzen omphalocele syndrome </a></li>
   <li><a href="/main_disease/digestive/shwanchman"> Shwachman-diamond syndrome </a></li>
   <li><a href="/main_disease/digestive/simpson"> Simpson-golabi-behmel syndrome </a></li>
   <li><a href="/main_disease/digestive/sirenomelia"> Sirenomelia </a></li>
   <li><a href="/main_disease/digestive/small_intestinal"> Small intestinal adenocarcinoma </a></li>
   <li><a href="/main_disease/digestive/splenogonadal"> Splenogonadal fusion limb defects micrognatia </a></li>
   <li><a href="/main_disease/digestive/stalker"> Stalker Chitayat syndrome </a></li>
   <li><a href="/main_disease/digestive/star"> STAR syndrome </a></li>
   <li><a href="/main_disease/digestive/superior"> Superior mesenteric artery syndrome </a></li>
   <li><a href="/main_disease/digestive/syndromic"> Syndromic microphthalmia </a></li>
   <li><a href="/main_disease/digestive/thoraco"> Thoraco abdominal enteric duplication </a></li>
   <li><a href="/main_disease/digestive/townes"> Townes-brocks syndrome </a></li>
   <li><a href="/main_disease/digestive/transient"> Transient infantile liver failure </a></li>
   <li><a href="/main_disease/digestive/trichohepatoenteric"> Trichohepatoenteric syndrome </a></li>
   <li><a href="/main_disease/digestive/triplea"> Triple A syndrome </a></li>
   <li><a href="/main_disease/digestive/trisomy13"> Trisomy 13 </a></li>
   <li><a href="/main_disease/digestive/trisomy18"> Trisomy 18 </a></li>
   <li><a href="/main_disease/digestive/tufting"> Tufting enteropathy </a></li>
   <li><a href="/main_disease/digestive/tylosis"> Tylosis with esophageal cancer </a></li>
   <li><a href="/main_disease/digestive/tyrosinemia"> Tyrosinemia </a></li>
   <li><a href="/main_disease/digestive/ulnar_mammary"> Ulnar-mammary syndrome </a></li>
   <li><a href="/main_disease/digestive/vacteral"> VACTERAL association </a></li>
   <li><a href="/main_disease/digestive/vipoma"> VIPoma </a></li>
   <li><a href="/main_disease/digestive/waardenburg"> Waardenburg syndrome </a></li>
   <li><a href="/main_disease/digestive/watermelon"> Watermelon stomach </a></li>
   <li><a href="/main_disease/digestive/whipple"> Whipple disease </a></li>
   <li><a href="/main_disease/digestive/wilson"> Wilson disease </a></li>
   <li><a href="/main_disease/digestive/wolf"> Wolf-hirschhorn syndrome </a></li>
   <li><a href="/main_disease/digestive/wolman"> Wolman disease </a></li>
   <li><a href="/main_disease/digestive/wrinkly_skin"> Wrinkly skin syndrome </a></li>
   <li><a href="/main_disease/digestive/zellweger"> Zellweger syndrome </a></li>
   <li><a href="/main_disease/digestive/zollinger"> Zollinger-ellison syndrome </a></li>
</ol>
</div>





</div>


<script>
$('.feat-btn').click(function(){
 $('nav ul .feat-show').toggleClass("show");
 $('nav ul .first').toggleClass("rotate"); 
  });



$('.an-btn').click(function(){
 $('nav ul .an-show').toggleClass("show2");
 $('nav ul .third').toggleClass("rotate");
  });

$('.ant-btn').click(function(){
 $('nav ul .ant-show').toggleClass("show3");
 $('nav ul .fourth').toggleClass("rotate");
  });
  
  $('.rant-btn').click(function(){
 $('nav ul .rant-show').toggleClass("show201");
 $('nav ul .foursecth').toggleClass("rotate");
  });

 $('.bi-btn').click(function(){
 $('nav ul .bi-show').toggleClass("show4");
 $('nav ul .fourthh').toggleClass("rotate");
  });
  
 $('.gbi-btn').click(function(){
 $('nav ul .gbi-show').toggleClass("show40");
 $('nav ul .foursectth').toggleClass("rotate");
  });

 $('.bio-btn').click(function(){
 $('nav ul .bio-show').toggleClass("show5");
 $('nav ul .sixth').toggleClass("rotate");
  });

 $('.bip-btn').click(function(){
 $('nav ul .bip-show').toggleClass("show6");
 $('nav ul .fifth').toggleClass("rotate");
  });

 $('.co-btn').click(function(){
 $('nav ul .co-show').toggleClass("show7");
 $('nav ul .sixthh').toggleClass("rotate");
  });

 $('.den-btn').click(function(){
 $('nav ul .den-show').toggleClass("show8");
 $('nav ul .seventh').toggleClass("rotate");
  });

 $('.med-btn').click(function(){
 $('nav ul .med-show').toggleClass("show9");
 $('nav ul .eigth').toggleClass("rotate");
  });
  $('.rmed-btn').click(function(){
 $('nav ul .rmed-show').toggleClass("show90");
 $('nav ul .eighttwoth').toggleClass("rotate");
  });

 $('.mib-btn').click(function(){
 $('nav ul .mib-show').toggleClass("show10");
 $('nav ul .nineth').toggleClass("rotate");
  });

 $('.mir-btn').click(function(){
 $('nav ul .mir-show').toggleClass("show11");
 $('nav ul .tenth').toggleClass("rotate");
  });

  $('.oc-btn').click(function(){
 $('nav ul .oc-show').toggleClass("show12");
 $('nav ul .eleventh').toggleClass("rotate");
  });

  $('.pat-btn').click(function(){
 $('nav ul .pat-show').toggleClass("show13");
 $('nav ul .twelth').toggleClass("rotate");
  });

  $('.pha-btn').click(function(){
 $('nav ul .pha-show').toggleClass("show14");
 $('nav ul .thirteenth').toggleClass("rotate");
  });
    $('.gphm-btn').click(function(){
 $('nav ul .gphm-show').toggleClass("show23");
 $('nav ul .fourteensecth').toggleClass("rotate");
  });

  $('.phm-btn').click(function(){
 $('nav ul .phm-show').toggleClass("show15");
 $('nav ul .fourteenth').toggleClass("rotate");
  });

  $('.phs-btn').click(function(){
 $('nav ul .phs-show').toggleClass("show16");
 $('nav ul .fifteenth').toggleClass("rotate");
  });
    $('.apphs-btn').click(function(){
 $('nav ul .apphs-show').toggleClass("show160");
 $('nav ul .fifteensecth').toggleClass("rotate");
  });
      $('.apphl-btn').click(function(){
 $('nav ul .apphl-show').toggleClass("show1600");
 $('nav ul .fifteenfirstthth').toggleClass("rotate");
  });

  $('.phsi-btn').click(function(){
 $('nav ul .phsi-show').toggleClass("show17");
 $('nav ul .sixteenth').toggleClass("rotate");
  });

  $('.psy-btn').click(function(){
 $('nav ul .psy-show').toggleClass("show18");
 $('nav ul .seventeenth').toggleClass("rotate");
  });

  $('.sur-btn').click(function(){
 $('nav ul .sur-show').toggleClass("show19");
 $('nav ul .eighteenth').toggleClass("rotate");
  });

  $('.the-btn').click(function(){
 $('nav ul .the-show').toggleClass("show20");
 $('nav ul .nineteenth').toggleClass("rotate");
  });

  $('.yg-btn').click(function(){
 $('nav ul .yg-show').toggleClass("show21");
 $('nav ul .twentyeeth').toggleClass("rotate");
  });

  $('.ve-btn').click(function(){
 $('nav ul .ve-show').toggleClass("show22");
 $('nav ul .twentyoneth').toggleClass("rotate");
  });
  
  $('nav ul li').click(function(){
   $(this).addClass("active").siblings().removeClass("active");
  });
  
 </script>
 
 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>