<%- include('partials/header.ejs'); -%>

<style>
  #filter {
    display: none;
  }


  @media screen and (min-width: 540px) and (max-width: 820px) {
    #mbody {
      text-align: left;
      margin: 5% auto;
    }
  }
</style>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
<h3><center> Infectious disease:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="#"> Acute flaccid myelitics </a></li>
   <li><a href="#"> Anaplasmosis </a></li>
   <li><a href="#"> Anthrax </a></li>
   <li><a href="#"> Babesiosis </a></li>
   <li><a href="#"> Botulism </a></li>
   <li><a href="#"> Brucellosis </a></li>
   <li><a href="#"> Campylobacteriosis </a></li>
   <li><a href="#"> Chancroid </a></li>
   <li><a href="#"> Chikungunya virus infection </a></li>
   <li><a href="#"> Chlamydia </a></li>
   <li><a href="#"> Ciguatera </a></li>
   <li><a href="#"> Clostridium difficile infection </a></li>
   <li><a href="#"> Clostridium perfringens </a></li>
   <li><a href="#"> Coccidioidomycosis fingal infection </a></li>
   <li><a href="#"> COVID-19 </a></li>
   <li><a href="#"> Cryptosporidiosis </a></li>
   <li><a href="#"> Cyclosporiasis </a></li>
   <li><a href="#"> Dengue </a></li>
   <li><a href="#"> Diphtheria </a></li>
   <li><a href="#"> Eastern Equine Encephalitis </a></li>
   <li><a href="#"> Ebola Hemorrhagic fever</a></li>
   <li><a href="#"> Ehrlichiosis </a></li>
   <li><a href="#"> Encephalitis </a></li>
   <li><a href="#"> Enterovirus infection </a></li>
   <li><a href="#"> Giardiasis </a></li>
   <li><a href="#"> Glanders </a></li>
   <li><a href="#"> Gonococcal infection </a></li>
   <li><a href="#"> Granuloma inguinale </a></li>
   <li><a href="#"> Haemophilus influenza </a></li>
   <li><a href="#"> Hantavirus pulomnary syndrome </a></li>
   <li><a href="#"> Hemolytic uremic syndrome </a></li>
   <li><a href="#"> Hepatitis </a></li>
   <li><a href="#"> Herpes </a></li>
   <li><a href="#"> Herpes loster </a></li>
   <li><a href="#"> Histoplasmosis infection </a></li>
   <li><a href="#"> HIV/ AIDS </a></li>
   <li><a href="#"> Human papillomavirus </a></li>
   <li><a href="#"> Influenza </a></li>
   <li><a href="#"> Lead poisoning </a></li>
   <li><a href="#"> Legionellosis </a></li>
   <li><a href="#"> Leprosy </a></li>
   <li><a href="#"> Leptospirosis </a></li>
   <li><a href="#"> Lika virus infection </a></li>
   <li><a href="#"> Listeriosis </a></li>
   <li><a href="#"> Lyme disease </a></li>
   <li><a href="#"> Lymphogranuloma venereum infection </a></li>
   <li><a href="#"> Malaria </a></li>
   <li><a href="#"> Measles </a></li>
   <li><a href="#"> Melioidosis </a></li>
   <li><a href="#"> Meningitis </a></li>
   <li><a href="#"> Meningococcal disease </a></li>
   <li><a href="#"> MERS-COV </a></li>
   <li><a href="#"> Multisystem inflammatory syndrome in children </a></li>
   <li><a href="#"> Mumps </a></li>
   <li><a href="#"> Norovirus </a></li>
   <li><a href="#"> Paralytic shellfish poisoning </a></li>
   <li><a href="#"> Pediculosis </a></li>
   <li><a href="#"> Pelvic inflammatory disease </a></li>
   <li><a href="#"> Pertussis </a></li>
   <li><a href="#"> Plague </a></li>
   <li><a href="#"> Pneumococcal disease </a></li>
   <li><a href="#"> Poliomyelitis </a></li>
   <li><a href="#"> Powassan </a></li>
   <li><a href="#"> Psittacosis </a></li>
   <li><a href="#"> Pthiriasis </a></li>
   <li><a href="#"> Pustular rash disease </a></li>
   <li><a href="#"> Q-Fever </a></li>
   <li><a href="#"> Rabies </a></li>
   <li><a href="#"> Ricin poisning </a></li>
   <li><a href="#"> Ricettsiosis </a></li>
   <li><a href="#"> Rubella </a></li>
   <li><a href="#"> Salmonelliosis gastroentesitis </a></li>
   <li><a href="#"> Scabies infestation </a></li>
   <li><a href="#"> Scomboid </a></li>
   <li><a href="#"> Septic shock </a></li>
   <li><a href="#"> Severe Acute Respiratory Syndrome </a></li>
   <li><a href="#"> Shigellosis ghastroentesitis </a></li>
   <li><a href="#"> Small pox </a></li>
   <li><a href="#"> Staphylococcal infection (Methieilion-Resistant) </a></li>
   <li><a href="#"> Staphylococcal food poisioning </a></li>
   <li><a href="#"> Staphylococcal infection (Vancomycin Resistant) </a></li>
   <li><a href="#"> Streptococcal Disease </a></li>
   <li><a href="#"> Streptococcal Toxic-Shock syndrome </a></li>
   <li><a href="#"> Syphilis </a></li>
   <li><a href="#"> Tetnaus infection </a></li>
   <li><a href="#"> Trichomoniasis </a></li>
   <li><a href="#"> Trichonosis </a></li>
   <li><a href="#"> Tuberculosis </a></li>
   <li><a href="#"> Tularemia </a></li>
   <li><a href="#"> Typhoid </a></li>
   <li><a href="#"> Typhus </a></li>
   <li><a href="#"> Vaginosis </a></li>
   <li><a href="#"> Vaping -Associated Lung Surgery </a></li>
   <li><a href="#"> Vasicella </a></li>
   <li><a href="#"> Vibrio cholerae </a></li>
   <li><a href="#"> vibriosis </a></li>
   <li><a href="#"> Viral Blemorrhagic fever </a></li>
   <li><a href="#"> West Nile Virus </a></li>
   <li><a href="#"> Yellow fever </a></li>
   <li><a href="#"> Yersinia </a></li>
</ol>
</div>





</div>


<script>
$('.feat-btn').click(function(){
 $('nav ul .feat-show').toggleClass("show");
 $('nav ul .first').toggleClass("rotate"); 
  });



$('.an-btn').click(function(){
 $('nav ul .an-show').toggleClass("show2");
 $('nav ul .third').toggleClass("rotate");
  });

$('.ant-btn').click(function(){
 $('nav ul .ant-show').toggleClass("show3");
 $('nav ul .fourth').toggleClass("rotate");
  });

 $('.bi-btn').click(function(){
 $('nav ul .bi-show').toggleClass("show4");
 $('nav ul .fourthh').toggleClass("rotate");
  });

 $('.bio-btn').click(function(){
 $('nav ul .bio-show').toggleClass("show5");
 $('nav ul .sixth').toggleClass("rotate");
  });

 $('.bip-btn').click(function(){
 $('nav ul .bip-show').toggleClass("show6");
 $('nav ul .fifth').toggleClass("rotate");
  });

 $('.co-btn').click(function(){
 $('nav ul .co-show').toggleClass("show7");
 $('nav ul .sixthh').toggleClass("rotate");
  });

 $('.den-btn').click(function(){
 $('nav ul .den-show').toggleClass("show8");
 $('nav ul .seventh').toggleClass("rotate");
  });

 $('.med-btn').click(function(){
 $('nav ul .med-show').toggleClass("show9");
 $('nav ul .eigth').toggleClass("rotate");
  });

 $('.mib-btn').click(function(){
 $('nav ul .mib-show').toggleClass("show10");
 $('nav ul .nineth').toggleClass("rotate");
  });

 $('.mir-btn').click(function(){
 $('nav ul .mir-show').toggleClass("show11");
 $('nav ul .tenth').toggleClass("rotate");
  });

  $('.oc-btn').click(function(){
 $('nav ul .oc-show').toggleClass("show12");
 $('nav ul .eleventh').toggleClass("rotate");
  });

  $('.pat-btn').click(function(){
 $('nav ul .pat-show').toggleClass("show13");
 $('nav ul .twelth').toggleClass("rotate");
  });

  $('.pha-btn').click(function(){
 $('nav ul .pha-show').toggleClass("show14");
 $('nav ul .thirteenth').toggleClass("rotate");
  });

  $('.phm-btn').click(function(){
 $('nav ul .phm-show').toggleClass("show15");
 $('nav ul .fourteenth').toggleClass("rotate");
  });

  $('.phs-btn').click(function(){
 $('nav ul .phs-show').toggleClass("show16");
 $('nav ul .fifteenth').toggleClass("rotate");
  });

  $('.phsi-btn').click(function(){
 $('nav ul .phsi-show').toggleClass("show17");
 $('nav ul .sixteenth').toggleClass("rotate");
  });

  $('.psy-btn').click(function(){
 $('nav ul .psy-show').toggleClass("show18");
 $('nav ul .seventeenth').toggleClass("rotate");
  });

  $('.sur-btn').click(function(){
 $('nav ul .sur-show').toggleClass("show19");
 $('nav ul .eighteenth').toggleClass("rotate");
  });

  $('.the-btn').click(function(){
 $('nav ul .the-show').toggleClass("show20");
 $('nav ul .nineteenth').toggleClass("rotate");
  });

  $('.yg-btn').click(function(){
 $('nav ul .yg-show').toggleClass("show21");
 $('nav ul .twentyeeth').toggleClass("rotate");
  });

  $('.ve-btn').click(function(){
 $('nav ul .ve-show').toggleClass("show22");
 $('nav ul .twentyoneth').toggleClass("rotate");
  });
  
  $('nav ul li').click(function(){
   $(this).addClass("active").siblings().removeClass("active");
  });
  
 </script>
 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>