<%- include('partials/header.ejs'); -%>

    <style>
      

* {margin: 0; padding: 0}
    
    body{
        font-family: 'Arial', sans-serif;
        background-color: white !important;
        background-size: 100%;
        overflow-x:hidden;
        
        
    }
    .codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin-left:50px;
        padding: 25px;
        color: #414141;
            
    }
    .cm-input{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; 
        margin-top:-40px;
        margin-bottom:20px;
        border-radius: 20px;
        border: 1px solid #ccc;
        
        
    }
    .cm-input:focus{
        outline: 0;
        border-color: #f9cb81;
        
    }
    .cm-input:invalid{
        border-color: #e41b17;
        
    }
    
    /* Gradient Background */
    .gr-bg{
        background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
        
    }
    
    
    /* Login Button Design */
    
    .btn-login{
        display: block;
        width: 100%;
        padding: 10px;
        border: 0;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom:10px;
        
    }
    .btn-login:focus{
        outline: 0;
    }
    
    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }
    
    /* For, tiele */
    .form-title{
        padding: 12px;
        text-align: center;
        position: relative;
        
        
    }
    .form-title h2{
        background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
    }
    .form-title .user-icon{
        position: absolute;
        
        font-size: 42px;
        color: #fff;
        width: 90px;
        height: 90px;
        line-height: 40px;
        text-align: center;
        border-radius: 45px;
        top: -60px;
        left: -45px;
        
    }
   

    @media only screen and (min-width: 1200px){
            .doc-png img{
                width:800px;height:750px;
                margin-left: 5vh;
            }
            
            .body{
                
                overflow-x: hidden !important;
            }
            .c1{
                margin-left:155px;
            }
.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin-left: 8vw;
        width: 400px;
        justify-content: space-around !important;
}
    }
 
    @media only screen and (max-width: 824px) {
        .doc-png{
            display: none !important ;     
            }
            .body{
                overflow-x: hidden !important;
            }
            .Scriptcontent{
                min-width: 60vw;
            }
.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin-top:-15%;
        margin: -10% 6vw;
        width: 75%;
        justify-content: space-around !important;
}
footer{
    width: 104vw !important;
}
.sidebar{
z-index: 1000 !important;
}

    }

    @media only screen 
  and (min-width: 751px) 
  and (max-width: 920px) 
 {
    .doc-png{
            display: none !important ;     
            }
            .body{
                overflow-x: hidden !important;
            }

.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin: 5vh auto;
        margin-left: 20vw;
        width: 100%;
        justify-content: space-around !important;
}
 }

    @media only screen 
  and (min-width: 824px) 
  and (max-width: 990px) 
 {

#pic{
        /* z-index: 5; */
        margin-left: -5vh;
        width: 550px;
        height: 700px;
}
.row{
    display: flex !important;
}
.cl{
                margin-left:155px ;
            }
.codehim-form{
    flex: 3 !important;
    height: 100%;
    width: 600px;
    /* z-index: 10 ; */
}
#doc-png{
    flex: 2 !important;
    /* z-index: 1; */
}
.doc-png::after {
  content: "";
  clear: both;
  display: table;
}

}


@media screen and (min-width: 800px) {
    .sidebar{
        display: none; 
    }
    #mj{
        margin-left:-20% !important;
    }
    

}

    </style>
	

      <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<% if(error.length>0){%>
<div class="alert alert-danger container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%></div>
<% } %>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            
        </div>
        <div class="col-rt-2">
            
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	
            </div>
        </div>
    </div>
</header>

    <div class=" row mx-auto" style="justify-content: space-around;" id="mj">
        <div class="col-lg-1"></div>
          <div class="col-rt-6 col-lg-4 col-md-4 col-sm-6" style="margin-top:150px;">
              <div class="Scriptcontent mx-auto" >
              
    <form class="codehim-form" action="/login" method="POST" >
        <div class="form-title">
            <div class="user-icon gr-bg">
            <i class="fa fa-user"></i>
            </div>
     <h2> <strong>MMT Login </strong> </h2>
            </div>
            
    
    <label for="email"><i class="fa fa-user" aria-hidden="true" style="margin-bottom:15%;margin-left: -35%;"></i> Username</label>
        <input type="text" id="email" class="cm-input" placeholder="Enter your username" required name="username" style="max-width: 100%;margin-left: 0% !important;">
        
        <div style="margin-top: -8%;">

        
        <label for="pass"><i class="fa fa-lock" style="margin-bottom:15%; margin-left: -40%;"></i> Password</label>
        <input id="pass" type="password" class="cm-input" placeholder="Enter your password" required name="password">
        <button type="submit" class="btn-login  gr-bg" >Login</button>
        
        <a href="/signup" class="cl" style=" text-align: center;">Sign Up</a>
    </div>
    </form>
    		
    		</div>
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-3 doc-png"  >
		    
		   <img id="pic" src="https://static.vecteezy.com/system/resources/previews/001/256/929/non_2x/group-of-doctors-staff-characters-vector.jpg" style="margin-top:0px">
		    
		</div>
    </div>
<script>
    $('.feat-btn').click(function () {
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
    });



    $('.an-btn').click(function () {
        $('nav ul .an-show').toggleClass("show2");
        $('nav ul .third').toggleClass("rotate");
    });

    $('.ant-btn').click(function () {
        $('nav ul .ant-show').toggleClass("show3");
        $('nav ul .fourth').toggleClass("rotate");
    });

    $('.bi-btn').click(function () {
        $('nav ul .bi-show').toggleClass("show4");
        $('nav ul .fourthh').toggleClass("rotate");
    });

    $('.bio-btn').click(function () {
        $('nav ul .bio-show').toggleClass("show5");
        $('nav ul .sixth').toggleClass("rotate");
    });

    $('.bip-btn').click(function () {
        $('nav ul .bip-show').toggleClass("show6");
        $('nav ul .fifth').toggleClass("rotate");
    });

    $('.co-btn').click(function () {
        $('nav ul .co-show').toggleClass("show7");
        $('nav ul .sixthh').toggleClass("rotate");
    });

    $('.den-btn').click(function () {
        $('nav ul .den-show').toggleClass("show8");
        $('nav ul .seventh').toggleClass("rotate");
    });

    $('.med-btn').click(function () {
        $('nav ul .med-show').toggleClass("show9");
        $('nav ul .eigth').toggleClass("rotate");
    });

    $('.mib-btn').click(function () {
        $('nav ul .mib-show').toggleClass("show10");
        $('nav ul .nineth').toggleClass("rotate");
    });

    $('.mir-btn').click(function () {
        $('nav ul .mir-show').toggleClass("show11");
        $('nav ul .tenth').toggleClass("rotate");
    });

    $('.oc-btn').click(function () {
        $('nav ul .oc-show').toggleClass("show12");
        $('nav ul .eleventh').toggleClass("rotate");
    });

    $('.pat-btn').click(function () {
        $('nav ul .pat-show').toggleClass("show13");
        $('nav ul .twelth').toggleClass("rotate");
    });

    $('.pha-btn').click(function () {
        $('nav ul .pha-show').toggleClass("show14");
        $('nav ul .thirteenth').toggleClass("rotate");
    });

    $('.phm-btn').click(function () {
        $('nav ul .phm-show').toggleClass("show15");
        $('nav ul .fourteenth').toggleClass("rotate");
    });

    $('.phs-btn').click(function () {
        $('nav ul .phs-show').toggleClass("show16");
        $('nav ul .fifteenth').toggleClass("rotate");
    });

    $('.phsi-btn').click(function () {
        $('nav ul .phsi-show').toggleClass("show17");
        $('nav ul .sixteenth').toggleClass("rotate");
    });

    $('.psy-btn').click(function () {
        $('nav ul .psy-show').toggleClass("show18");
        $('nav ul .seventeenth').toggleClass("rotate");
    });

    $('.sur-btn').click(function () {
        $('nav ul .sur-show').toggleClass("show19");
        $('nav ul .eighteenth').toggleClass("rotate");
    });

    $('.the-btn').click(function () {
        $('nav ul .the-show').toggleClass("show20");
        $('nav ul .nineteenth').toggleClass("rotate");
    });

    $('.yg-btn').click(function () {
        $('nav ul .yg-show').toggleClass("show21");
        $('nav ul .twentyeeth').toggleClass("rotate");
    });

    $('.ve-btn').click(function () {
        $('nav ul .ve-show').toggleClass("show22");
        $('nav ul .twentyoneth').toggleClass("rotate");
    });

    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

</script>
<%- include('partials/footertemplate.ejs'); -%>

	</body>
	
</html>