
    
    <%- include('partials/header.ejs'); -%>

    <style>
      
 body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	background: #f4f4f4;
}

.list-wrapper {
	padding:15px 10%;
	
	/* background-color: grey; */
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	
	width: 40%;
  margin-left: 5px;
	min-width: 300px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}
/* .list-item:nth-child(even){
	margin-left: 30px;
} */

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #FF7182;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60;
}   




    	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 margin: 0;
 padding:0; 
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;	
	
}	
/* 
.sidebar{
	position: scroll;
	width: 350px;
	left: 0;
	background: #1b1b1b;
	height: 100%;
	margin: 0px;


} */
.sidebar .text{
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #1e1e1e;


	letter-spacing: 1px;
	margin: 0px
}
 nav ul{
	/* background : #1b1b1b; */
	height: 100%;
	width: 100%;
	list-style: none;
	
} 
nav ul li{
	line-height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

nav ul li a{
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-left: 40px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}
nav ul li.active a{
	color:cyan;
	background: #1e1e1e;
	border-left-color: cyan;
	
}
nav ul ul{
	position: static;
	display:none;
}
nav ul .feat-show.show{
	display: block;
}
nav ul .an-show.show2{
	display: block;
}
nav ul .ant-show.show3{
	display: block;
}
nav ul .bi-show.show4{
	display: block;
}
nav ul .bio-show.show5{
	display: block;
}
nav ul .bip-show.show6{
	display: block;
}
nav ul .co-show.show7{
	display: block;
}
nav ul .den-show.show8{
	display: block;
}
nav ul .med-show.show9{
	display: block;
}
nav ul .mib-show.show10{
	display: block;
}
nav ul .mir-show.show11{
	display: block;
}
nav ul .oc-show.show12{
	display: block;
}
nav ul .pat-show.show13{
	display: block;
}
nav ul .pha-show.show14{
	display: block;
}
nav ul .phm-show.show15{
	display: block;
}
nav ul .phs-show.show16{
	display: block;
}
nav ul .phsi-show.show17{
	display: block;
}
nav ul .psy-show.show18{
	display: block;
}
nav ul .sur-show.show19{
	display: block;
}
nav ul .the-show.show20{
	display: block;
}
nav ul .yg-show.show21{
	display: block;
}
nav ul .ve-show.show22{
	display: block;
}

footer{
	background: #1c2331
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: relative;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: scroll !important;
    margin-top: -30px;
    left: 100%;
}
@media screen and (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
	}
	#dclose{
	top: 30px !important;
	}
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}




#mySidenav a {
  position: absolute;
  margin-top:70px;
  left: -105px;
  transition: 0.3s;
  height: 50px;
  padding: 15px;
  width: 190px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 20px;
}

#about {
  top: 25px;background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}

#blog {
  top: 75px;background-color: #7fcec5;
  left: 40px;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}

#projects {
  top: 125px;background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}

#contact {
  top: 220px;background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}
.icc{
 width:35px;height:35px;
}
.icc:hover{
 opacity:0.6;
}

/* @media screen and (min-width:960px) and (max-width: 900px){
#dcol{
	
	width: 700px !important;
}
} */
@media screen and (max-width:1000px){
#dcol{
	max-width: 80% !important;
	margin: 4% 2% !important;
}
#mhi{
  display: none;
}
.sidebar{
  z-index: 1000;
}

}
@media screen and (min-width:560px) and (max-width: 1000px){
.list-wrapper{
	padding-left: 25%;
}
}
@media screen and (min-width:1100px) and (max-width: 1400px){
.list-wrapper{
	padding-left: 0%;
}
}

@media screen and (min-width:1400px){
.list-wrapper{
	padding-left: 20%;
}

}

@media screen and (min-width:820px) and(max-width: 1250px){
	#dcol{
	max-width: 60vw !important;
    margin-left: 30% !important;
	}


	
}

    @media screen and (min-width: 800px) {
    .sidebar{
        display: none; 
    }

  }
    </style>
	

       
  <div class="row">
   
   <div class="col-lg-3 col-md-5 col-sm-5 col-5 des " id="mhi">
    <div id="mySidenav" class="sidenav" style="z-index: 100;">
  <a href="/home" id="about" style="padding-left:40px;z-index: 100;font-size: 15px;">Go to Home <i class="fas fa-home" style="margin-left:10px;float: right;"></i></a>
  <a id="blog" href="/writemedicalnews" class="coll" style="padding-left:40px;z-index: 100;font-size: 15px;">Write Article <i class="fas fa-eye" style="margin-left:10px;float: right; "></i></a>
  <a href="/aboutus" id="projects" style="padding-left:40px;z-index: 100;font-size: 15px;">Contact Us <i class="fas fa-address-book" style="margin-left:20px;float: right;"></i></a>
</div>
   </div>;
   
   



<div class="col-lg-10 col-md-8 col-sm-8 col-xs-7 mx-auto" style="z-index:1;position: relative;" id="dcol">
<h2 class=" " style="text-align:center;"></h2>


<div class="list-wrapper" style="margin: 50px 10%;width: 90%;">
      
      <!---------1st page starts here--------------------------->
      <h3 style="text-align: center;margin-left: -8%;">DISEASE</h3>
	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/autoimmune">Autoimmune Disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/allergic">Allergic & Asthma</a></li>
		</div>
	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/bacterial">Bacterial infection</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/behavioural">Behavioural & mental disorder</a></li>
		</div>
	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/blood">Blood disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/cancer">Cancer</a></li>
		</div>


	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/celaic">Celaic disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/chromosome">Chromosome disorder</a></li>
		</div>
	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/congential">Congential & genetics disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/connective">Connective tissue disease</a></li>
		</div>
	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/contagious">Contagious disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/digestive">Digestive disease</a></li>
		</div>

	<div class="list-item" style="float:left;font-size:17px">
		<li><a href="/main_disease/deficiency">Deficiency disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/ear">Ear disease</a></li>
		</div>


		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/endocrine">Encrodine disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/environmental">Environmental disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/eye">Eye disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/female">Female reproductive disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/fungal">Fungal infection</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/heart">Heart disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/immune">Immune system disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/infectious">Infectious disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/kidney">Kidney disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/liver">Liver disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/lung">Lung disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/male_reproductive">Male reproductive disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/metabolic">Metabolic disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/mouth">Mouth disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/musuloskeletal">Musculoskeletal disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/myelodysplastic">Myelodysplastic syndrome</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px">
		 <li><a href="/main_disease/nervous">Nervous system disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/newborn">Newborn screening</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/nose">Nose disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/nutritional">Nutritional disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/parasitic">Parasitic disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/physiological">Physiological disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/rdcrn">RDCRN</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/skin">Skin disease</a></li>
		</div>
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/throat">Throat disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/urinary">Urinary disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/viral">Viral infections</a></li>
		</div>
		
		
		
		
	
</div>

<div id="pagination-container"></div>

<script type="text/javascript">

$(document).ready(function(){
 $(".collap").hide();
});

 $(".coll").on("click",function(){
  $(".collap").show();
  $(".des").hide();
 });
 
</script>

<script type="text/javascript">
  
  // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/

var items = $(".list-wrapper .list-item");
    var numItems = items.length;
    var perPage = 14;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
    

  
</script>



</div>





</div>

 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>