
    
    <%- include('partials/header.ejs'); -%>

    <style>
      
 body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	background: #f4f4f4;
}

.list-wrapper {
	padding:15px 10%;
	
	/* background-color: grey; */
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	
	width: 40%;
  margin-left: 5px;
	min-width: 300px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}
/* .list-item:nth-child(even){
	margin-left: 30px;
} */

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #FF7182;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60;
}   




    	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 margin: 0;
 padding:0; 
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;	
	
}	
/* 
.sidebar{
	position: scroll;
	width: 350px;
	left: 0;
	background: #1b1b1b;
	height: 100%;
	margin: 0px;


} */
.sidebar .text{
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #1e1e1e;


	letter-spacing: 1px;
	margin: 0px
}
 nav ul{
	/* background : #1b1b1b; */
	height: 100%;
	width: 100%;
	list-style: none;
	
} 
nav ul li{
	line-height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

nav ul li a{
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-left: 40px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}
nav ul li.active a{
	color:cyan;
	background: #1e1e1e;
	border-left-color: cyan;
	
}
nav ul ul{
	position: static;
	display:none;
}
nav ul .feat-show.show{
	display: block;
}
nav ul .an-show.show2{
	display: block;
}
nav ul .ant-show.show3{
	display: block;
}
nav ul .bi-show.show4{
	display: block;
}
nav ul .bio-show.show5{
	display: block;
}
nav ul .bip-show.show6{
	display: block;
}
nav ul .co-show.show7{
	display: block;
}
nav ul .den-show.show8{
	display: block;
}
nav ul .med-show.show9{
	display: block;
}
nav ul .mib-show.show10{
	display: block;
}
nav ul .mir-show.show11{
	display: block;
}
nav ul .oc-show.show12{
	display: block;
}
nav ul .pat-show.show13{
	display: block;
}
nav ul .pha-show.show14{
	display: block;
}
nav ul .phm-show.show15{
	display: block;
}
nav ul .phs-show.show16{
	display: block;
}
nav ul .phsi-show.show17{
	display: block;
}
nav ul .psy-show.show18{
	display: block;
}
nav ul .sur-show.show19{
	display: block;
}
nav ul .the-show.show20{
	display: block;
}
nav ul .yg-show.show21{
	display: block;
}
nav ul .ve-show.show22{
	display: block;
}

footer{
	margin-top: 16%;
	background: #1c2331
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: relative;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: scroll !important;
    margin-top: -30px;
    left: 100%;
}
@media screen and (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
	}
	#dclose{
	top: 30px !important;
	}
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}




/* @media screen and (min-width:960px) and (max-width: 900px){
#dcol{
	
	width: 700px !important;
}
} */
@media screen and (max-width:1000px){
#dcol{
	max-width: 94% !important;
	margin: 4% -6% !important;
}
#mhi{
  display: none;
}
.sidebar{
  z-index: 1000;
}

}
@media screen and (min-width:560px) and (max-width: 1000px){
.list-wrapper{
	padding-left: 25%;
}
}
@media screen and (min-width:1100px) and (max-width: 1400px){
.list-wrapper{
	padding-left: 0%;
}
#dcol{
	margin-left: -10%;
}
}

@media screen and (min-width:1100px) and (max-width: 1400px){
.list-wrapper{
	padding-left: 0%;
}
#dcol{
	margin-left: -10%;
}
#dise{
	margin-left:-20% !important;
}
.simple-pagination ul {
margin-left: -20% ;
	padding: 0;
	list-style: none;
	text-align: center;
}
}

@media screen and (min-width:820px) and(max-width: 1250px){
	#dcol{
	max-width: 60vw !important;
    margin-left: 20% !important;
	}


	
}
    @media screen and (max-width: 1050px) {

.sidebar{
	width: 0px;
}
#sidenav{
	width: 0px;
}
.simple-pagination ul {
margin-left: 20% ;
	padding: 0;
	list-style: none;
	text-align: center;
}
#mhi{
        display: none; 
    }
	}
  
    </style>
	


   <!-- major changes---------------------------------------------------------------- -->



<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 major center  " style="z-index:1;position: relative; max-width: 100%;justify-content: center;" id="dcol">
<h2 class=" " style="text-align:center;"></h2>

	<h1 style="text-align: center;margin-bottom: 4%;" id="dise">DISEASE</h1>

<div class="list-wrapper dislist" style="margin: 50px auto;width: 100%;">
      
    


		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/endocrine">Encrodine disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/environmental">Environmental disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/eye">Eye disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/female">Female reproductive disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/fungal">Fungal infection</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/heart">Heart disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/immune">Immune system disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/infectious">Infectious disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/kidney">Kidney disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/liver">Liver disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/lung">Lung disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/male_reproductive">Male reproductive disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/metabolic">Metabolic disease</a></li>
		</div>
		
		<div class="list-item" style="float:left;font-size:17px" >
		 <li><a href="/main_disease/mouth">Mouth disease</a></li>
		</div>
		
		
		
		
		
		
	
</div>

<div id="pagination-container">
	<div class="simple-pagination">
		<ul>
			<li>
				<a href="#" id="previ"> &laquo;</a>
			</li>
			<li>
				<a href="/maindisease1" id="page1"> 1</a>
			</li>
			<li>
				<a href="/maindisease2" id="page2" style="background-color: rosybrown !important; color: black;"> 2</a>
			</li>
			<li>
				<a href="/maindisease3" id="page3"> 3</a>
			</li>
			<li>
				<a href="#" id="nexti"> &raquo;</a>
			</li>
		</ul>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function(){

    var page = window.location.href;
    var murl = page.slice(0, -1);
    var pg = page.slice(-1);
    pg = parseInt(pg);
    pk = pg + 1;
    pl = pg -1;
    console.log(pg);
    console.log(pk);

    if (pg == 3) {
        $("#nexti").click(function (e) {
            e.preventDefault();
                        $("#nexti").css("background-color", "gray");

        })
    } else {
        $("#nexti").click(function (e) {
                        e.preventDefault();

            url = murl + pk;
            location.replace(url);
        })
    }
    if (pg == 1) {
        $("#previ").click(function (e) {
            e.preventDefault();
            $("#previ").css("background-color","gray");
        })
    } else {
        $("#previ").click(function (e) {
            e.preventDefault();

            url = murl + pl;
            location.replace(url);
        })
    }

$("#page2").addClass('active');

 $(".collap").hide();
    // $("#dcol").addClass('dcol');

//  $("#dcol").css("margin-left","-300px")
});
	$('#disease').addClass('active');

 $(".coll").on("click",function(){
  $(".collap").show();
  $(".des").hide();

 });
    $('.mclass').hide();
    $('.mclass').css("display", "none");
$('body').ready(function(){
	$('.mclass').hide();
	
	
})
  
	function sideopen(event) {
		$('#mhi').css("display", "none");
		$('.mclass').show();
		//    $("#dcol").removeClass('dcol');

	}


  // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/

// var items = $(".list-wrapper .list-item");
//     var numItems = items.length;
//     var perPage = 14;

//     items.slice(perPage).hide();

//     $('#pagination-container').pagination({
//         items: numItems,
//         itemsOnPage: perPage,
//         prevText: "&laquo;",
//         nextText: "&raquo;",
//         onPageClick: function (pageNumber) {
			
//             var showFrom = perPage * (pageNumber - 1);
//             var showTo = showFrom + perPage;
//             items.hide().slice(showFrom, showTo).show();
//         }
//     });
    

  
</script>



</div>





</div>

 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>