<%- include('partials/header.ejs'); -%>
<!-- 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<style>
    .register {
        background: -webkit-linear-gradient(left, #615F67, #00c6ff);
        margin-top: -0.4%;
        min-width: 100vw !important;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
/*just bg and body style*/
.container{
background-color:#1E2832;
padding-bottom:20px;
margin-top:10px;
border-radius:5px;
}
.center{
text-align:center;  
}
#top{
margin-top:20px;  
}
.btn-container{
background:#fff;
border-radius:5px;
padding-bottom:20px;
margin-bottom:20px;
}
.white{
color:white;
}
.imgupload{
color:#1E2832;
padding-top:40px;
font-size:7em;
}
#namefile{
color:black;
}
h4>strong{
color:#ff3f3f
}
.btn-primary{
border-color: #ff3f3f !important;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #ff3f3f !important;
border-color: #ff3f3f !important;
}

/*these two are set to not display at start*/
.imgupload.ok{
display:none;
color:green;
}
.imgupload.stop{
display:none;
color:red;
}


/*this sets the actual file input to overlay our button*/ 
#fileup{
opacity: 0;
-moz-opacity: 0;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
width:200px;
cursor: pointer;
position:absolute;
left: 50%;
transform: translateX(-50%);
bottom: 40px;
height: 50px;
}

/*switch between input and not active input*/
#submitbtn{
  padding:5px 50px;
  display:none;
}
#fakebtn{
  padding:5px 40px;
}


/*www.emilianocostanzo.com*/
#sign{
	color:#1E2832;
	position:fixed;
	right:10px;
	bottom:10px;
	text-shadow:0px 0px 0px #1E2832;
	transition:all.3s;
}
#sign:hover{
	color:#1E2832;
	text-shadow:0px 0px 5px #1E2832;
}
    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .kv-avatar .krajee-default.file-preview-frame,
    .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar {
        display: inline-block;
    }

    .kv-avatar .file-input {
        display: table-cell;
        width: 213px;
    }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .register .nav-tabs .nav-link:hover {
        border: none;
    }

    .register .nav-tabs .nav-link.active {
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }

    @media screen and (min-width: 800px) {
        .sidebar {
            display: none;
        }
    }
</style>
<div class="container register" style="width: 100vw;height: 100%;">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="picc.jpeg" alt="" />
            <h3>Welcome</h3>
            <p>You are 30 seconds away becoming a writer</p>
            <!-- <input type="submit" name="" value="Login" /><br /> -->
        </div>
        <div class="col-md-9 register-right">
            <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Employee</a>
                </li>
                
            </ul> -->


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Employee</h3>

                    <form class="row register-form" action="/site/avatar-upload/2" method="post"
                        enctype="multipart/form-data">
                        <div class="row mx-auto">
                            <div class="md-col-12" style="width: 70vw;margin: 5% 30%;">
                                    <form name="upload" method="post" action="#" enctype="multipart/form-data" accept-charset="utf-8">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3 center">
                                                <div class="btn-container">
                                                    <!--the three icons: default, ok file (img), error file (not an img)-->
                                                    <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
                                                    <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
                                                    <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
                                                    <!--this field changes dinamically displaying the filename we are trying to upload-->
                                                    <p id="namefile">Only pics allowed! (jpg,jpeg,bmp,png)</p>
                                                    <!--our custom btn which which stays under the actual one-->
                                                    <button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your pic!</button>
                                                    <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
                                                    <input type="file" value="" name="fileup" id="fileup">
                                                </div>
                                            </div>
                                        </div>
                                        <!--additional fields-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->
                                                <input type="submit" value="Submit!" class="btn btn-primary" id="submitbtn">
                                                <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn">Submit! <i
                                                        class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name *" value="" />
                            </div>

                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden" selected disabled>Country
                                    </option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Highest Degree" value="" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="6" maxlength="6" name="txtEmpPhone" class="form-control"
                                    placeholder="Postal Code *" value="" />
                            </div>

                            <div class="form-group">
                                <input type="file" class="form-control" placeholder="Upload your resume" value="" />
                            </div>
                            <!-- <input type="submit" class="btnRegister" value="Register" /> -->
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" rows="3" class="form-control" placeholder="Email Address *"
                                    value=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address *" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btnRegister ml-4" value="Register" />

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<br>
<br>
<%- include('partials/footertemplate.ejs'); -%>



</body>

</html>