<%- include('partials/header.ejs'); -%>

<style>
  #main {
      text-align: left;
      margin: 5% auto;
    }
</style>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="main">
<h3><center> Parasitic disease:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="/main_disease/parasitic/acanthamoeba"> Acanthamoeba keratitis  </a></li>
   <li><a href="/main_disease/parasitic/acanthocheilonemiasis"> Acanthocheilonemiasis </a></li>
   <li><a href="/main_disease/parasitic/amebiasis"> Amebiasis </a></li>
   <li><a href="/main_disease/parasitic/ancyclostomiasis"> Ancylostomiasis </a></li>
   <li><a href="/main_disease/parasitic/angiostrongyliasis"> Angiostrongyliasis </a></li>
   <li><a href="/main_disease/parasitic/anisakiasis"> Anisakiasis </a></li>
   <li><a href="/main_disease/parasitic/babesiosis"> Babesiosis </a></li>
   <li><a href="/main_disease/parasitic/blantidiasis"> Blantidiasis </a></li>
   <li><a href="/main_disease/parasitic/bothriocephalosis"> Bothriocephalosis </a></li>
   <li><a href="/main_disease/parasitic/cercarial"> Cercarial Dermatitis </a></li>
   <li><a href="/main_disease/parasitic/chagas"> Chagas Disease </a></li>
   <li><a href="/main_disease/parasitic/congential"> Congenital toxoplasmosis </a></li>
   <li><a href="/main_disease/parasitic/creeping"> Creeping myiasis </a></li>
   <li><a href="/main_disease/parasitic/cutaneous"> Cutaneous larva migrans </a></li>
   <li><a href="/main_disease/parasitic/cyclosporiasis"> Cyclosporiasis </a></li>
   <li><a href="/main_disease/parasitic/cysticercosis"> Cysticercosis </a></li>
   <li><a href="/main_disease/parasitic/cystoisosporiasis"> Cystoisosporiasis </a></li>
   <li><a href="/main_disease/parasitic/dirofilariasis"> Dirofilariasis </a></li>
   <li><a href="/main_disease/parasitic/dracunculiasis"> Dracunculiasis </a></li>
   <li><a href="/main_disease/parasitic/ehrlichiosis "> Ehrlichiosis </a></li>
   <li><a href="/main_disease/parasitic/furunculous_myiasis"> Furunculous myiasis </a></li>
   <li><a href="/main_disease/parasitic/gnathostoma"> Gnathostoma infection </a></li>
   <li><a href="/main_disease/parasitic/helminthiasis"> Helminthiasis </a></li>
   <li><a href="/main_disease/parasitic/hymenolipiasis"> Hymenolipiasis </a></li>
   <li><a href="/main_disease/parasitic/leishmaniasis"> Leishmaniasis </a></li>
   <li><a href="/main_disease/parasitic/lymphatic"> Lymphatic filariasis </a></li>
   <li><a href="/main_disease/parasitic/malaria"> Malaria </a></li>
   <li><a href="/main_disease/parasitic/metagonimiasis"> Metagonimiasis </a></li>
   <li><a href="/main_disease/parasitic/microsporidiosis"> Microsporidiosis </a></li>
   <li><a href="/main_disease/parasitic/opisthorchiasis"> Opisthorchiasis </a></li>
   <li><a href="/main_disease/parasitic/paragonimiasis"> Paragonimiasis </a></li>
   <li><a href="/main_disease/parasitic/schistosomiasis"> Schistosomiasis </a></li>
   <li><a href="/main_disease/parasitic/strongyloidiasis"> Strongyloidiasis </a></li>
   <li><a href="/main_disease/parasitic/toxocariasis"> Toxocariasis </a></li>
   <li><a href="/main_disease/parasitic/trichinosis"> Trichinosis </a></li>
</ol>
</div>





</div>


 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>


  </body>
</html>