<%- include('partials/header.ejs'); -%>

    <style>
      

* {margin: 0; padding: 0}
    
    body{
        font-family: 'Arial', sans-serif;
        background-color: white !important;
        background-size: 100%;
        
        
    }
    .codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin-left:50px;
        padding: 25px;
        color: #414141;
            
    }
    .cm-input{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; 
        margin-bottom: 20px ;
        margin-top:4px;
        border-radius: 20px;
        border: 1px solid #ccc;
        
        
    }
    .cm-input:focus{
        outline: 0;
        border-color: #f9cb81;
        
    }
    .cm-input:invalid{
        border-color: #e41b17;
        
    }
    
    /* Gradient Background */
    .gr-bg{
        background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
        
    }
    
    @media only screen and(min-width: 800px) {
        #sidenav{
            display: none !important;
        }
    }
    /* Login Button Design */
    
    .btn-login{
        display: block;
        width: 100%;
        padding: 10px;
        border: 0;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom:10px;
        
    }
    .btn-login:focus{
        outline: 0;
    }
    
    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }
    
    /* For, tiele */
    .form-title{
        padding: 12px;
        text-align: center;
        position: relative;
        
        
    }
    .form-title h2{
        background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
    }
    .form-title .user-icon{
        position: absolute;
        
        font-size: 42px;
        color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 45px;
        top: -60px;
        left: -45px;
        
    }

    
     @media only screen and (min-width: 980px) and (max-width: 1200px){

             .doc-png img{
                width:800px;height:750px;
                margin-left: -5vh;
            }
             .body{
                overflow-x: hidden !important;
            }
            .c1{
                margin-left:155px;
            }
.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin-left: 4vw;
        width: 400px;
        justify-content: space-around !important;
}
          

    }
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){
      #sidenav{
          display: none !important;
      }
  }
    @media only screen and (min-width: 1200px){
            .doc-png img{
                width:800px;height:750px;
                margin-left: -5vh;
            }
            .body{
                overflow-x: hidden !important;
            }
            .c1{
                margin-left:155px;
            }
            #sidenav{
                display: none !important;
            }
.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin-left: 4vw;
        width: 400px;
        justify-content: space-around !important;
}
    }
 
    @media only screen and (max-width: 824px) {
        .doc-png{
            display: none !important ;     
            }
            .body{
                overflow-x: hidden !important;
            }

.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin: -20% auto;
        width: 80%;
        justify-content: space-around !important;
}
#rj{
    min-width: 80vw !important;
}
.sidebar{
    z-index: 1000 !important;
}

    }

    @media only screen 
  and (min-width: 751px) 
  and (max-width: 824px) 
 {
    .doc-png{
            display: none !important ;     
            }
            .body{
                overflow-x: hidden !important;
            }

.codehim-form{
        margin-bottom: 10vh !important;
        text-align: center;
        margin: 5vh auto;
        margin-left: 20vw;
        width: 100%;
        justify-content: space-around !important;
}
 }

    @media only screen 
  and (min-width: 824px) 
  and (max-width: 990px) 
 {

#pic{
        z-index: 5;
        margin-left: -5vh;
        width: 550px;
        height: 700px;
}
.row{
    display: flex !important;
}
.cl{
                margin-left:155px ;
            }
.codehim-form{
    flex: 3 !important;
    height: 100%;
    width: 600px;
    z-index: 10 ;
}
#doc-png{
    flex: 2 !important;
    z-index: 1;
}
.doc-png::after {
  content: "";
  clear: both;
  display: table;
}

}

    </style>
	
</head>

<body>
    
      <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div class="alert alert-danger container" id="error" style="margin:3% auto;text-align: center;max-width: 80%;"></div>

<% if(error.length>0){%>
<div class="alert alert-danger container" id="error" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%></div>
<% } %>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	
            </div>
        </div>
    </div>
</header>

    <div class=" row"  id="rj">
        <div class="col-lg-1"></div>
          <div class="col-rt-6 col-lg-4 col-sm-6" style="margin-top:150px;z-index: 50;">
              <div class="Scriptcontent">
              
                <form class="codehim-form" action="/register" method="POST" id="commentform">
        <div class="form-title">
            <div class="user-icon gr-bg">
            <i class="fa fa-user"></i>
            </div>
     <h2> <strong>MMT Sign Up </strong> </h2>
            </div>
            
    <label for="name"> Full Name:</label>
        <input type="text" id="name" class="cm-input" placeholder="Enter your  Full Name" required name="fullName">
        
    <label for="Uname"> User Name:</label>
        <input type="text" id="Uname" class="cm-input" placeholder="Enter your Username" required name="email">
        
    <label for="email"> Email:</label>
        <input type="email" id="email" class="cm-input" placeholder="Enter your email adress" required name="username" style="max-width: 100%;">
        
        <label for="pass">Password:</label>
        <input id="pass" type="password" class="cm-input" placeholder="Enter your password" required name="password">
        
         <label for="College"> College:(Optional)</label>
        <input type="text" id="College" class="cm-input" placeholder="College Name" name="college">
        
        <label for="phone"> Nationality:</label>
        <input type="text" id="phone" class="cm-input" placeholder="Nationality" required name="nationality">
        <div style="margin-bottom: 20px;">
                    <div class="g-recaptcha" data-sitekey="6Le-XuYZAAAAAKVbiVIlw4Swr-Rbq5VWYh4j0Z_x" style="max-width: 90% !important;" data-callback="onSuccess" data-action="action" >
                    </div>

        </div>

        <button type="submit" class="btn-login  gr-bg" id="submit-test-form" >Sign Up</button>
        
        <p style="font-size: 14px;">By creating this account,you agree to our <a style="color: #9A7FF4;font-weight: bold;" href="/privacy-policy" >Privacy Policy</a>& <a style="color: #9A7FF4;font-weight: bold;" href="/cookie-policy">Cookie Policy</a></p>
    </form>

    		</div>
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-6  doc-png" style="z-index: 4;">
		    
		   <img  id="pic" src="https://cdn.dribbble.com/users/2817031/screenshots/9864091/online_doctor.png" style="margin-top:0px">
		    
		</div>
    </div>

    <script>
        $('#error').hide();
        document.getElementById("commentform").addEventListener("submit", function (evt) {

                var response = grecaptcha.getResponse();
                if (response.length == 0) {
                    //reCaptcha not verified
                    $('#error').show();
                    document.getElementById("error").innerHTML = "<p>Please verify you are Human!  </p>"
                    // alert("please verify you are humann!");
                    evt.preventDefault();
                    return false;
                }
                //captcha verified
                //do the rest of your validations here

            });


    
    </script>
<%- include('partials/footertemplate.ejs'); -%>

	</body>
	
</html>