<%- include('partials/header.ejs'); -%>

<style>
   #main {
      text-align: left;
      margin: 5% auto;
    }
</style>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="main">
<h3><center> Viral Infection:</center> </h3><br>
<ol class = "ml-5" >
   <li><a href="/main_disease/viral/bowenoid"> Bowenoid papulosis </a></li>
   <li><a href="/main_disease/viral/california"> California encephalitis  </a></li>
   <li><a href="/main_disease/viral/chikangunia"> Chikungunya </a></li>
   <li><a href="/main_disease/viral/chronic"> Chronic active Epstein-Barr virus infection </a></li>
   <li><a href="/main_disease/viral/congentialr"> Congenital rubella </a></li>
   <li><a href="/main_disease/viral/congentialz"> Congenital Zika syndrome </a></li>
   <li><a href="/main_disease/viral/dengue"> Dengue fever </a></li>
   <li><a href="/main_disease/viral/eastern"> Eastern equine encephalitis </a></li>
   <li><a href="/main_disease/viral/hentavirus"> Hentavirus pulmonary syndrome </a></li>
   <li><a href="/main_disease/viral/herpessimplex"> Herpes simplex encephalitis </a></li>
   <li><a href="/main_disease/viral/herpeszosterop"> Herpes zoster ophthalmicus </a></li>
   <li><a href="/main_disease/viral/herpeszosterot"> Herpes zoster oticus </a></li>
   <li><a href="/main_disease/viral/humant1"> Human T-cell leukemia virus type-1 </a></li>
   <li><a href="/main_disease/viral/humant2"> Human T-cell leukemia virus type-2 </a></li>
   <li><a href="/main_disease/viral/humant3"> Human T-cell leukemia virus type-3 </a></li>
   <li><a href="/main_disease/viral/japanese"> Japenese encephalitis </a></li>
   <li><a href="/main_disease/viral/kaposi"> Kaposi sarcoma </a></li>
   <li><a href="/main_disease/viral/kyasanur"> Kyasanur Forest disease </a></li>
   <li><a href="/main_disease/viral/lacrosse"> La crosse encephalitis </a></li>
   <li><a href="/main_disease/viral/marburg"> Marburg hemorrhagic fever </a></li>
   <li><a href="/main_disease/viral/measeles"> Measeles </a></li>
   <li><a href="/main_disease/viral/mollaret"> Mollaret meningitis </a></li>
   <li><a href="/main_disease/viral/monkeypox"> Monkeypox </a></li>
   <li><a href="/main_disease/viral/multicentric"> Multicentric castleman disease </a></li>
   <li><a href="/main_disease/viral/neonatal"> Neonatal herpes </a></li>
   <li><a href="/main_disease/viral/nipah"> Nipah virus encephalitis </a></li>
   <li><a href="/main_disease/viral/osmk"> Osmk hemorrhagic fever </a></li>
   <li><a href="/main_disease/viral/parainfluenza"> Parainfluenza virus type-3 </a></li>
   <li><a href="/main_disease/viral/poliomyelitis"> Poliomyelitis </a></li>
   <li><a href="/main_disease/viral/progressive"> Progressive multifocal leukopencephalopathy </a></li>
   <li><a href="/main_disease/viral/rabies"> Rabies </a></li>
   <li><a href="/main_disease/viral/rubella"> Rubella </a></li>
   <li><a href="/main_disease/viral/sars"> SARS </a></li>
   <li><a href="/main_disease/viral/unicentric"> Unicentric Castleman disease </a></li>
   <li><a href="/main_disease/viral/western"> Western equine encephalitis </a></li>
   <li><a href="/main_disease/viral/yellow"> Yellow fever </a></li>
   <li><a href="/main_disease/viral/zika"> Zika virus infection </a></li>
</ol>
</div>





</div>


 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<%- include('partials/footertemplate.ejs'); -%>

  </body>
</html>