
<%- include('partials/header.ejs'); -%>

  <style>
    body {
      margin: 0;
      font-family: system-ui, sans-serif;
    }

    .wave-container {
      position: relative;
      background: #09F;
      color: #FFF;
      text-align: center;
      overflow: hidden;
    }

    h2 {
      font-size: 2rem;
      margin: 3rem 1.25rem 1rem 1.25rem;
    }

    p {
      font-size: 1.2rem;
      margin: 0 1.25rem 2rem 1.25rem;
    }



    footer {
      background: #1c2331;
      width: 104vw !important;
    }

    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu a::after {
      transform: rotate(-90deg);
      position: relative;
      right: 3px;
      top: 40%;
    }

    .dropdown-submenu:hover .dropdown-menu,
    .dropdown-submenu:focus .dropdown-menu {
      display: flex;
      flex-direction: column;
      position: scroll !important;
      margin-top: -30px;
      left: 100%;
    }

    @media (max-width: 992px) {
      .dropdown-menu {
        width: 50%;
      }

      .dropdown-menu .dropdown-submenu {
        width: auto;
      }
    }



    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }

    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
      animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }

    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }

      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }

      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }

      to {
        bottom: 0;
        opacity: 0;
      }
    }

    @keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }

      to {
        bottom: 0;
        opacity: 0;
      }
    }

    .icc {
      width: 35px;
      height: 35px;
    }

    .icc:hover {
      opacity: 0.6;
    }
    @media screen and (min-width: 800px) {
    .sidebar{
        display: none; 
    }
  }
  /* @media screen and (min-width: 800px) {
    .sidebar{
        display: none; 
    }
  } */
  </style>




<div class="wave-container" style="width:104vw"> 
  <h2>Write a Review!</h2>
  <p>Let us know what you feel about our Website</p>
 
</div>

  <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 

 <div class="container emp-profile" style="border-radius:25px;border:1px solid gray;margin-top:6%;margin-bottom:8%;max-width:80%;width:600px;background:#f1f1f1;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card border-0 p-3" style="background:#f1f1f1">
            
            <form action="/writereview" method="POST">
            <div class="card-body">
                
                <div class="row my-2">
                        <label for="skills" class="col-sm-4 control-label"><b>Full Name:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name"  name="name" placeholder="Name" required>
                        </div>
                    
                </div>
                <div class="row my-2">
                    
                        <label for="skills" class="col-sm-4 control-label"><b>Email ID:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="phone"  name="email" placeholder="Email" required>
                        </div>
                </div>
                
                <div class="row my-2">
                        <label for="skills" class="col-sm-4 control-label"><b>College Name:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="college"  name="college" placeholder="College" required>
                        </div>
                    
                </div>
                <hr>
                
                 <div class="row my-2">
                         <label for="skills" class="col-sm-4 control-label"><b>Review:</b></label>
                        <div class="col-sm-8" style="">
                            <textarea type="text" class="form-control" id="college"  name="reviewtxt" placeholder="Write your review" style="height:150px" required></textarea>
                        </div>
                    
                </div>
                <div class="row my-3">
                    <button class="btn btn-info mx-auto px-4" >Submit</button>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="snackbar">Feedback Submitted, Your feedback is valuable to us</div>

<script>
function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
}
</script>
    <script>
      $('.feat-btn').click(function () {
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
      });



      $('.an-btn').click(function () {
        $('nav ul .an-show').toggleClass("show2");
        $('nav ul .third').toggleClass("rotate");
      });

      $('.ant-btn').click(function () {
        $('nav ul .ant-show').toggleClass("show3");
        $('nav ul .fourth').toggleClass("rotate");
      });

      $('.bi-btn').click(function () {
        $('nav ul .bi-show').toggleClass("show4");
        $('nav ul .fourthh').toggleClass("rotate");
      });

      $('.bio-btn').click(function () {
        $('nav ul .bio-show').toggleClass("show5");
        $('nav ul .sixth').toggleClass("rotate");
      });

      $('.bip-btn').click(function () {
        $('nav ul .bip-show').toggleClass("show6");
        $('nav ul .fifth').toggleClass("rotate");
      });

      $('.co-btn').click(function () {
        $('nav ul .co-show').toggleClass("show7");
        $('nav ul .sixthh').toggleClass("rotate");
      });

      $('.den-btn').click(function () {
        $('nav ul .den-show').toggleClass("show8");
        $('nav ul .seventh').toggleClass("rotate");
      });

      $('.med-btn').click(function () {
        $('nav ul .med-show').toggleClass("show9");
        $('nav ul .eigth').toggleClass("rotate");
      });

      $('.mib-btn').click(function () {
        $('nav ul .mib-show').toggleClass("show10");
        $('nav ul .nineth').toggleClass("rotate");
      });

      $('.mir-btn').click(function () {
        $('nav ul .mir-show').toggleClass("show11");
        $('nav ul .tenth').toggleClass("rotate");
      });

      $('.oc-btn').click(function () {
        $('nav ul .oc-show').toggleClass("show12");
        $('nav ul .eleventh').toggleClass("rotate");
      });

      $('.pat-btn').click(function () {
        $('nav ul .pat-show').toggleClass("show13");
        $('nav ul .twelth').toggleClass("rotate");
      });

      $('.pha-btn').click(function () {
        $('nav ul .pha-show').toggleClass("show14");
        $('nav ul .thirteenth').toggleClass("rotate");
      });

      $('.phm-btn').click(function () {
        $('nav ul .phm-show').toggleClass("show15");
        $('nav ul .fourteenth').toggleClass("rotate");
      });

      $('.phs-btn').click(function () {
        $('nav ul .phs-show').toggleClass("show16");
        $('nav ul .fifteenth').toggleClass("rotate");
      });

      $('.phsi-btn').click(function () {
        $('nav ul .phsi-show').toggleClass("show17");
        $('nav ul .sixteenth').toggleClass("rotate");
      });

      $('.psy-btn').click(function () {
        $('nav ul .psy-show').toggleClass("show18");
        $('nav ul .seventeenth').toggleClass("rotate");
      });

      $('.sur-btn').click(function () {
        $('nav ul .sur-show').toggleClass("show19");
        $('nav ul .eighteenth').toggleClass("rotate");
      });

      $('.the-btn').click(function () {
        $('nav ul .the-show').toggleClass("show20");
        $('nav ul .nineteenth').toggleClass("rotate");
      });

      $('.yg-btn').click(function () {
        $('nav ul .yg-show').toggleClass("show21");
        $('nav ul .twentyeeth').toggleClass("rotate");
      });

      $('.ve-btn').click(function () {
        $('nav ul .ve-show').toggleClass("show22");
        $('nav ul .twentyoneth').toggleClass("rotate");
      });

      $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
      });

    </script>
 <%- include('partials/footertemplate.ejs'); -%>
</body>
</html>